<div class="view_box">
    {% if node.field_imagen_docentes.0.value|length > 0 %}
    <figure class="view_img">
        <img class=imagen loading="lazy" uk-img 
            class=imagen data-src="{{ file_url(node.field_imagen_docentes.0.entity.fileuri | image_style('360x300') ) }}"  
            alt="{{ node.field_imagen_docentes.alt }}" width="360" height="300" />
    </figure>
    {% endif %}
    <article class="view_body">
        <h3 class="view_title">
            {{ node.title.value }}
            {% if node.field_linkedin.0.value|length > 0 %}
                <a href="{{ node.field_linkedin.0.value }}" target="_blank">
                    <span class="svgs_linkedin">
                        {{ svg_icon('utp_linkedin') }}    
                    </span>
                </a>
            {% endif %}
        </h3>
        {{ node.body.value|raw }}
    </article>
</div>