{% set wasap = node.field_t_wasap.0.value %}
{% set wasap_cut = wasap|replace ({ '+51': '' }) %}
{% set wasap_first = wasap_cut|slice(0, 3) %}
{% set wasap_second = wasap_cut|slice(3, 3) %}
{% set wasap_third = wasap_cut|slice(6, 3) %}
{% set wasap_view = wasap_first ~ ' ' ~ wasap_second ~ ' ' ~ wasap_third %}

{% set themonth_text = node.field_fecha.value|date("F")|t %}
{% set theday = node.field_fecha.value|date("d") %}
{% set themonth = node.field_fecha.value|date("m") %}
{% set theyear = node.field_fecha.value|date("Y") %}
{% set fecha = theday ~ ' de ' ~ themonth_text %}

<section id="presentacion">
    <div class="block_content content_800 block_margins">
        <div class="row centered">
            {% if node.field_image.0.value|length > 0 %}
            <figure class="col-55 inverso">
                <img class="imagen" loading="lazy" width="456" height="302"
                 data-src="{{ file_url(node.field_image.entity.fileuri| image_style('456x302')) }}" uk-img />
            </figure>
            {% endif %}
            <article class="col-40">
                <h2 class=subtitled>{{ node.field_tags.entity.name.value }}</h2>
                <h1 id="title" class="title">
                    <span class="title_label">{{ node.title.value }}</span>
                </h1>
                <p class="share_title">Comparte el evento</p>
                <ul class="menu_row menu_rrss">
                    <li>
                        <a href="https://twitter.com/intent/tweet?url={{ url('<current>') }}" target="_blank">
                            <span class="svgs_twitter">
                                {{ svg_icon('utp_twitter') }}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url('<current>') }}" target="_blank">
                            <span class="svgs_linkedin">
                                {{ svg_icon('utp_linkedin') }}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}" target="_blank">
                            <span class="svgs_facebook">
                                {{ svg_icon('utp_facebook') }}
                            </span>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>
<aside id="detalles" class="sidebar bg_white">
    <div uk-sticky="bottom: #main; media: 1200; offset: 81">
        <div class="block_content block_margins">
            <h3 class="block_titled">Detalles</h3>
            <div class="contents contents_row">
                {% if node.field_fecha.0.value|length > 0 %}
                <p>Fecha:<br><strong>{{ fecha }}</strong></p>
                {% endif %}
                {% if node.field_t_horario.0.value|length > 0 %}
                <p>Horario:<br><strong>{{ node.field_t_horario.value }}</strong></p>
                {% endif %}
                {% if node.field_t_costo.0.value|length > 0 %}
                <p class="acceso"><strong>{{ node.field_t_costo.value }}</strong></p>
                {% endif %}
                {% if node.field_programa.0.value|length > 0 %}
                <p>Programa:<br><strong>{{ node.field_programa.entity.field_titulo.value }}</strong></p>
                {% endif %}
                {% if node.field_modelo.0.value|length > 0 %}
                <p>Expositor:<br><strong>{{ node.field_modelo.entity.title.value }}</strong></p>
                {% endif %}
            </div>
            <div class="contents contents_cta">
                <a href="#" uk-toggle="target: #contacto" class="action blue cta sp open-contacto-eventos">
                    <span class="svgs_camera">{{ svg_icon('utp_camera') }}</span>
                    Ingresar a este evento
                </a>
            </div>
            <div class="contents">
                {% if node.field_t_wasap.0.value|length > 0 %}
                <h5 class="sidebar_strong" style="order: 3">¿Necesitas más información?</h5>
                <a href="https://wa.me/{{ wasap }}" target="_blank" class="sidebar_wasap" style="order: 4">
                    <span class="svgs_whatsapp">{{ svg_icon('utp_whatsapp') }}</span>
                    {{ wasap_view }}
                </a>
                {% endif %}
            </div>
    </div>
</aside>
<section id="bienvenido" class="section ev_bienvenido" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <div class="row">
            <article class="block_titled"><h3>{{ node.field_subtitle.value|raw }}</h3></article>
            <article class="body">
                {{ node.body.value|raw }}
                <div class="contents contents_cta">
                    <a href="#" uk-toggle="target: #contacto" class="action blue cta sp open-contacto-eventos">
                        <span class="svgs_camera">{{ svg_icon('utp_camera') }}</span>
                        Ingresar a este evento
                    </a>
                </div>
            </article>
        </div>
    </div>
    {{ svg_target_ev|raw }}
</section>
{% if node.field_modelo.0.value|length > 0 %}
<section id="expositor" class="ev_expositor" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <h4 class="block_titled">Sobre el Expositor</h4>
        <div class="row">
            <article class="body">
                <h3>{{ node.field_modelo.entity.title.value }}</h3>
                {{ node.field_modelo.entity.body.value|raw }}
            </article>
            <figure class="order_negative">
                <img class=imagen data-src="{{ file_url(node.field_modelo.entity.field_image.0.entity.fileuri) }}" uk-img />
            </figure>
        </div>
    </div>
</section>
{% endif %}

<section id="appends">
    <div class="uk-inline">
        <button target="_blank" class="action cta sp" type="button">
            <span class="svgs_calendar">{{ svg_icon('utp_calendar') }}</span>
            Añadir al calendario
        </button>
        <div id="appends_calendar" uk-dropdown="mode: click">
             {% include '@utp/node/elements/calendar.html.twig' ignore missing %}
        </div>
    </div>
</section>
