{% if view_mode == 'cabecera' %} 

<section id="cabecera">
    <div class="block_content block_margins">
        <div class="row">
            <article>
                <h1 id="title" class="title" style="max-width: 380px">{{ node.title.value }}</h1>
            </article>
            <article class="cuerpo cuerpo_mayor">
                {{ node.body.value|raw }}
            </article>
        </div>
    </div>
</section>

{% elseif view_mode == 'buscador' %} 

<article>
    <h3 class="title_buscador"><a href="{{ url }}">{{ node.title.value }}</a></h3>
    <article class="body"><p>{{ node.field_buscador.value|raw }}</p></article>
</article>

{% else %}

    {% if node.field_tipo.value == 'type_01' %} 
        <section class="bg_black">
            <div class="block_content block_margins">
                <h1 id="title" class="title" style="max-width: 380px">{{ node.title.value|raw }}</h1>
            </div>
        </section>
        <section>
            <div class="block_content block_margins">
                <article class="body">
                    {{ node.body.value|raw }}
                </article>
            </div>
        </section>
    {% elseif node.field_tipo.value == 'type_04' %} 
        <section class="bg_black">
            <div class="block_content block_margins" style="justify-content: center;">
                <h1 id="title" class="title" style="max-width: 380px">{{ node.title.value|raw }}</h1>
            </div>
        </section>
        <section>
            <div class="block_content block_margins">
                <article class="body" style="text-align: center; width: 100%">
                    {{ node.body.value|raw }}
                    <a href="{{ url('<front>') }}"  class="action negro">
                        <span class="flecha uk-icon" uk-icon="icon: triangle-right; ratio: 2"></span>
                        Ir a la portada
                    </a>
                </article>
            </div>
        </section>
    {% else %}

        {{ content.field_slider }}
        {{ content.field_armable }}

    {% endif %}

{% endif %}
