{% set apellido =
    node.field_apellido.value|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim 
%}
{% set nombre =
    node.field_nombre.value|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim 
%}

<div class="row">
    {% if node.field_imagen_testimonial.0.value|length > 0 %}
    <figure>
        <img class=imagen loading="lazy" uk-img 
            class=imagen data-src="{{ file_url(node.field_imagen_testimonial.0.entity.fileuri | image_style('508x423') ) }}"  
            alt="{{ node.field_imagen_testimonial.alt }}" width="508" height="423" />
    </figure>
    {% endif %}
    <article>
        <h4>{{ node.title.value }}</h4>
        {% if node.field_rol.0.value|length > 0 %}
        <p>{{ node.field_rol.value }}</p>
        {% endif %}
        {% if node.field_testimonio.0.value|length > 0 %}
        <blockquote>
            {{ node.field_testimonio.value }}
        </blockquote>
        {% endif %}
        {% if node.field_code_video.0.value|length > 0 %}
        <div class="contents_cta">
            <a href="#" uk-toggle="target: #s_{{ apellido }}_{{ nombre }}" class="action action_click"> 
                <span class="flecha svgs_play">
                    {{ svg_icon('utp_play') }}
                </span>
                Ver video
            </a>
        </div>
        {% endif %}
    </article>
</div>

{% if node.field_code_video.0.value|length > 0 %}
<div id="s_{{ apellido }}_{{ nombre }}" class="video_modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <iframe data-src="https://www.youtube-nocookie.com/embed/{{ node.field_code_video.value }}" width="1920" height="1080" uk-video uk-responsive></iframe>
        <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
        </button> 
    </div>
</div>
{% endif %}