{% set wasap = node.field_t_wasap.0.value %}
{% set wasap_cut = wasap|replace ({ '+51': '' }) %}
{% set wasap_first = wasap_cut|slice(0, 3) %}
{% set wasap_second = wasap_cut|slice(3, 3) %}
{% set wasap_third = wasap_cut|slice(6, 3) %}
{% set wasap_view = wasap_first ~ ' ' ~ wasap_second ~ ' ' ~ wasap_third %}

{% set color = node.field_color.value %}

{% if node.field_target.0.target_id in ['1', '2'] %}
    {% set target_title = "Maestría en" %}
{% elseif node.field_target.0.target_id in ['3', '4'] %}
    {% set target_title = "Especialización en" %}
{% endif %}

<section id="presentacion" class="target_presentacion bg_black">
    <div class="block_content content_800 block_margins">
        <div class="row centered">
            <article>
                {% if node.field_t_banner.0.value|length > 0 %}
                <h1 id="title" class="title_banner">
                    <img class=imagen data-src="{{ file_url(node.field_t_banner.entity.fileuri) }}" alt="" width="" height="" uk-img />
                </h1>
                {% else %}
                <h2 class=subtitle>
                    <strong {% if color|length > 0 %}style="color: {{color}}"{% endif %}>{{ node.field_abbr.value }}</strong>
                    {% if node.field_t_online.value == '1' %}
                        <span class="badge">Online</span>
                    {% endif %}
                        {% if target_title %}<small>{{ target_title }}</small>{% endif %}
                </h2>
                <h1 id="title" class="title">
                    {{ node.field_titulo.value }}
                </h1>
                {% endif %}
                {% if node.field_brochure.0.value|length > 0 %}
                <a href="{{ file_url(node.field_brochure.entity.uri.value) }}" target="_blank" class="action blanco">
                    <span class="flecha svgs_arrow_bold">
                        {{ svg_icon('utp_arrow_bold') }}
                    </span>
                    Brochure
                </a>
                {% endif %}
            </article>
            {% if node.field_asociado.0.value|length > 0 %}
            <figure class="col-flex">
                <img class=imagen data-src="{{ file_url(node.field_asociado.entity.fileuri) }}" alt="" width="" height="" uk-img />
            </figure>
            {% endif %}
        </div>
    </div>
</section>
<aside id="detalles" class="sidebar bg_white">
    <div uk-sticky="bottom: #main; media: 1200; offset: 81">
        <div class="block_content block_margins">
            <h3 class="block_titled">Detalles</h3>
            <div class="contents contents_row">
                {% if node.field_t_inicio.0.value|length > 0 %}
                <p>Fecha de inicio:<br><strong>{{ node.field_t_inicio.value }}</strong></p>
                {% endif %}
                {% if node.field_t_horario.0.value|length > 0 %}
                <p>Horario:<br><strong>{{ node.field_t_horario.value }}</strong></p>
                {% endif %}
                {% if node.field_t_detalle.0.value|length > 0 %}
                <ul uk-accordion>
                    <li>
                        <strong class="uk-accordion-title" style="display: block; width: 100%; position: relative; padding-right: 2rem;">
                            {{ node.field_t_detalle.0.value }}
                            <span class="acordion_icon svgs_chev_down_stroke">
                                {{ svg_icon('utp_chev_down') }}
                            </span>
                        </strong>
                        <p class="uk-accordion-content"><small style="display: block; line-height: 1.5; margin-top: .5rem;">{{ node.field_t_detalle.1.value }}</small></p>
                    </li>
                </ul>
                {% endif %}
                {% if node.field_t_duracion.0.value|length > 0 %}
                <p>Duración:<br><strong>{{ node.field_t_duracion.value }}</strong></p>
                {% endif %}
                {% if node.field_t_inversion.0.value|length > 0 %}
                <p>Inversión:<br><strong>{{ node.field_t_inversion.value }}</strong></p>
                {% endif %}
            </div>
            <div class="contents contents_cta">
                <a href="#" uk-toggle="target: #contacto" class="action negro cta open-contacto-preselect">
                    Solicita más información
                </a>
            </div>
            <div class="contents contents-wasap">
                {% if node.field_t_wasap.0.value|length > 0 %}
                {% if node.field_asesor.0.value|length > 0 %}<h5 class="sidebar_strong" style="width: 100%; order:3">Asesor: {{ node.field_asesor.value }}</h5>{% endif %}
                <a href="https://wa.me/{{ wasap }}" target="_blank" class="sidebar_wasap" style="order: 4">
                    <span class="svgs_whatsapp">
                        {{ svg_icon('utp_whatsapp') }}
                    </span>
                    {{ wasap_view }}
                </a>
                {% endif %}
            </div>
            <div class="contents contents-menu">
                <ul class="scrollspy" uk-scrollspy-nav="closest: li; scroll: true; offset: 80;" style="order: 5">
                    <li><a href="#presentacion">Presentación</a></li>
                    {% if node.field_acordion.value|length > 0 %}
                    <li><a href="#beneficios">Beneficios</a></li>
                    {% endif %}
                    {% if node.field_t_og.0.value|length > 0 %}
                    <li><a href="#objetivos">Objetivos</a></li>
                    {% endif %}
                    {% if node.field_metodologia.value|length > 0 %}
                    <li><a href="#metodologia">Metodología</a></li>
                    {% endif %}
                    {% if node.field_malla.0.value|length > 0 or node.field_malla_acordion.0.value|length %}
                    <li><a href="#malla">{% if node.field_t_curso.value == '1' %}Contenido del curso{% else %}Malla Curricular{% endif %}</a></li>
                    {% endif %}
                    {% if node.field_t_docente.value|length > 0 %}
                    <li><a href="#docentes">Docentes</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</aside>
{% if drupal_view_result('eventos', 'ev_programas') is not empty %}
<section id="eventos" class="section eventos" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <div class="space_menor row centered show">
            {{ drupal_view('eventos', 'ev_programas') }}
        </div>
    </div>
</section>
{% endif %}
{% if node.field_modelo.0.value|length > 0 %}
<section id="modelo" class="section conectados" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <div class="space_menor row centered show">
            {{ content.field_modelo }}
        </div>
    </div>
    {{ svg_target_1|raw }}
</section>
{% endif %}
{% if node.body.0.value|length > 0 %}
<section id="bienvenido" class="section bienvenido" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <div class="row">
            <article class="block_titled"><h3>{{ node.field_subtitle.value|raw }}</h3></article>
            <article class="body">{{ node.body.value|raw }}</article>
        </div>
    </div>
    {{ svg_target_2|raw }}
</section>
{% endif %}
{% if node.field_acordion.0.value|length > 0 %}
<section id="beneficios" class="section beneficios" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <h3 class="block_titled">Beneficios</h3>
        <ul class="acordion" uk-accordion>
            {% for acordion in node.field_acordion %}
            <li class="acordion_item{% if loop.first %} uk-open{% endif %}">
                <h4 class="uk-accordion-title acordion_title">
                    {{ acordion.entity.field_x_title.value }}
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h4>
                <div class="uk-accordion-content acordion_body">
                    {{ acordion.entity.field_x_body.value|raw }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
{% if node.field_t_og.0.value|length > 0 %}
<section id="objetivos" class="section general" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <article class="contents_header">
            <h3 class="block_titled">Objetivo General</h3>
        </article>
        <div class="space_menor row fully body">
            {{ node.field_t_og.value|raw }}
        </div>
    </div>
</section>
{% endif %}
{% if node.field_t_oe.0.value|length > 0 %}
<section id="general" class="section general" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <article class="contents_header">
            <h3 class="block_titled">Objetivos Específicos</h3>
        </article>
        <div class="space_menor row fully body">
            {{ node.field_t_oe.value|raw }}
        </div>
    </div>
</section>
{% endif %}
{% if node.field_dirigido.0.value|length > 0 %}
<section
id="dirigido"
class="section dirigido" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <div uk-slider="center: true">
            <div style="position: relative; overflow: hidden;">
                <ul class="uk-slider-items">
                    {% for key, item in content.field_dirigido if key|first != '#' %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <a class="slider_arrow-left" href="#" uk-slider-item="previous">
                <span class="svgs_chev_left_stroke">
                    {{ svg_icon('utp_chev_left') }}
                </span>
            </a>
            <a class="slider_arrow-right" href="#" uk-slider-item="next">
                <span class="svgs_chev_right_stroke">
                    {{ svg_icon('utp_chev_right') }}
                </span>
            </a>
        </div>
    </div>
    {{ svg_target_3|raw }}
</section>
{% endif %}
{% if node.field_metodologia.0.value|length > 0 %}
<section
id="metodologia"
class="section metodologia" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <h3 class="block_title">Metodología</h3>
        <div uk-slider="center: true">
            <div style="position: relative; overflow: hidden;">
                <ul class="uk-slider-items">
                    {% for key, item in content.field_metodologia if key|first != '#' %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            <a class="slider_arrow-left" href="#" uk-slider-item="previous">
                <span class="svgs_chev_left_stroke">
                    {{ svg_icon('utp_chev_left') }}
                </span>
            </a>
            <a class="slider_arrow-right" href="#" uk-slider-item="next">
                <span class="svgs_chev_right_stroke">
                    {{ svg_icon('utp_chev_right') }}
                </span>
            </a>
        </div>
    </div>
</section>
{% endif %}
{% if node.field_malla.0.value|length > 0 or node.field_malla_acordion.0.value|length %}
<section id="malla" class="section malla" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <article class="contents_header">
            <h3 class="block_titled">
                {% if node.field_t_curso.value == '1' %}
                Contenido del curso
                {% else %}
                Malla Curricular
                {% endif %}
            </h3>
            {% if node.field_sumilla.0.value|length > 0 %}
            <a href="{{ file_url(node.field_sumilla.entity.uri.value) }}" target="_blank" class="action negro">
                <span class="flecha svgs_arrow_bold">
                    {{ svg_icon('utp_arrow_bold') }}
                </span>
                Sumilla
            </a>
            {% endif %}
        </article>
        {% if node.field_malla.0.value|length > 0 %}
        <figure class="malla-figure">
            <img class="imagen" data-src="{{ file_url(node.field_malla.0.entity.fileuri| image_style('864x432')) }}" alt="{{ node.field_malla.0.alt }}"
                width="864" height="432" loading="lazy" uk-img />
            <button class="open-malla" uk-toggle="#utpmalla"><span>Click para agrandar la imagen</span></button>
        </figure>
        {% endif %}
        <ul class="acordion" uk-accordion>
            {% for acordion in node.field_malla_acordion %}
            <li class="acordion_item{% if loop.first %} uk-open{% endif %}">
                <h4 class="uk-accordion-title acordion_title" style="color:{% if color|length > 0 %}{{color}}{% else %}black{% endif %}">
                    {{ acordion.entity.field_x_title.value }}
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h4>
                <div class="uk-accordion-content acordion_body" style="--color-base: {% if color|length > 0 %}{{color}}{% else %}black{% endif %}">
                    {{ acordion.entity.field_x_body.value|raw }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
{% if node.field_t_docente.value|length > 0 %}
<section id="docentes" class="bg_gris docentes section" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <h3 class="block_titled">Docentes</h3>
        {{ content.field_t_docente }}
        <div class="contents_cta">
            <a href="{{ url('<front>') }}docentes" class="action negro cta_docentes">
                <span class="flecha svgs_arrow_bold">
                    {{ svg_icon('utp_arrow_bold') }}
                </span>
                Conoce a nuestros docentes
            </a>
        </div>
    </div>
</section>
{% endif %}
{% if node.field_adicional.0.value|length > 0 %}
<section id="admision" class="section admision" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content content_800 block_margins">
        <div class="row">
            <article>
                <h3 class="block_titled">{{ node.field_adicional.entity.field_x_title.value|raw }}</h3>
                <div class="body">{{ node.field_adicional.entity.field_x_body.value|raw }}</div>
                {% if node.field_pdf_admision[0] %}
                <a href="{{ file_url(node.field_pdf_admision.entity.uri.value) }}" target="_blank" class="action" aria-expanded="false">
                    <span class="flecha svgs_arrow_bold">
                        {{ svg_icon('utp_arrow_bold') }}
                    </span>
                    Proceso de Admisión
                </a>
                {% endif %}
                {% if node.field_pdf_admision_d[0] %}
                <a href="{{ file_url(node.field_pdf_admision_d.entity.uri.value) }}" target="_blank" class="action" aria-expanded="false">
                    <span class="flecha svgs_arrow_bold">
                        {{ svg_icon('utp_arrow_bold') }}
                    </span>
                    Proceso de Admisión para <br>Personas con Discapacidad
                </a>
                {% endif %}
            </article>
            {% if node.field_adicional.0.value|length > 0 %}
            <figure>
                <img loading="lazy" alt="{{ node.field_adicional.entity.field_x_img.alt }}" width="328" height="392"
                data-src="{{ file_url(node.field_adicional.entity.field_x_img.0.entity.fileuri| image_style('328x392')) }}" class="imagen" uk-img />
            </figure>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}

{% if node.field_malla.0.value|length > 0 %}
<div id="utpmalla" class="video_modal zoom" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <figure class="malla-figure">
            <img class="imagen" data-src="{{ file_url(node.field_malla.0.entity.fileuri| image_style('1500x750')) }}" alt="{{ node.field_malla.0.alt }}"
                width="1500" height="750" loading="lazy" uk-img />
        </figure>
        <button class="uk-modal-close main_button svgs_close" type="button">
            {{ svg_icon('utp_close') }}
        </button>
    </div>
</div>
{{ attach_library('utp/pinch') }}
{% endif %}
