
{% set apellido =
    node.field_apellido.value|replace({
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim
%}
{% set nombre =
    node.field_nombre.value|replace({
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim
%}

<div class="uk-accordion-title acordion_title">
    <h4>{{ node.title.value }}</h4>
    {% if node.field_rol.0.value|length > 0 %}
    <strong>{{ node.field_rol.value }}</strong>
    {% endif %}
    <span class="acordion_icon svgs_chev_down_stroke">{{ svg_icon('utp_chev_down') }}</span>
</div>
<div class="uk-accordion-content acordion_body">
    <div class="row show">
        {% if is_front %}
            {% if node.field_imagen_testimonial.0.value|length > 0 %}
            <figure><img
            class=imagen loading="lazy"
            alt="{{ node.field_imagen_testimonial.alt }}" width="505" height="366"
            data-src="{{ file_url(node.field_imagen_testimonial.0.entity.fileuri| image_style('505x366') ) }}" uk-img /></figure>
            {% endif %}
        {% else %}
            {% if node.field_image.0.value|length > 0 %}
            <figure><img
            class=imagen loading="lazy"
            alt="{{ node.field_image.alt }}" width="505" height="366"
            data-src="{{ file_url(node.field_image.0.entity.fileuri| image_style('505x366') ) }}" uk-img /></figure>
            {% endif %}
        {% endif %}
        <article>
            <p>{{ node.body.summary|raw }}</p>
            {% if node.field_code_video.0.value|length > 0 %}
            <div class="contents_cta">
                <a href="#" uk-toggle="target: #e_{{ apellido }}_{{ nombre }}" class="action action_click">
                    <span class="flecha svgs_play">
                        {{ svg_icon('utp_play') }}
                    </span>
                    Ver video
                </a>
            </div>
            {% endif %}
        </article>
    </div>
</div>

{% if node.field_code_video.0.value|length > 0 %}
<div id="e_{{ apellido }}_{{ nombre }}" class="video_modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <iframe data-src="https://www.youtube-nocookie.com/embed/{{ node.field_code_video.value }}" width="1920" height="1080" uk-video uk-responsive></iframe>
        <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
        </button>
    </div>
</div>
{% endif %}
