{% set themonth_text = node.field_fecha.value|date("F")|t %}
{% set theday = node.field_fecha.value|date("d") %}
{% set themonth = node.field_fecha.value|date("m") %}
{% set theyear = node.field_fecha.value|date("Y") %}
{% set fecha = theday ~ ' de ' ~ themonth_text %}

{% set color = node.field_color.value %}

<a class="evento_link" href="{{ url }}"{% if color|length > 0 %} style="--evento-color: {{ color }}"{% endif %}>
    <div class="evento_date">
        <span>{{ themonth_text }}</span>
        <span>{{ theday }}</span>
    </div>
    <div class="evento_cuerpo">
        {% if node.field_titulo_slider.value|length > 0 %}
        <p>{{ node.field_titulo_slider.value }}</p>
        {% else %}
        <p>{{ node.field_programa.entity.field_abbr.value }} {{ node.field_programa.entity.field_titulo.value }}</p>
        {% endif %}
        {% if node.field_tags.entity.name.value|length > 0 %}
        <p>{{ node.field_tags.entity.name.value }}</p>
        {% endif %}
    </div>
    <span class="svgs_chev_right_stroke">{{ svg_icon('utp_chev_right') }}</span>
</a>