{% if node.field_target.0.target_id in ['1', '2'] %}
    {% set target_title = "Maestría en" %}
{% elseif node.field_target.0.target_id in ['3', '4'] %}
    {% set target_title = "Especialización en" %}
{% endif %} 

{% set color = node.field_color.value %}

<a class="vista_link" href="{{ url }}">
    {% if node.field_promo_img.0.value|length > 0 %}
        {% if node.field_promo_img.1.value|length > 0 %}
        <figure class="vista_img only_mobile">
            <img 
            class="imagen" width="360" height="216" loading="lazy" alt="{{ node.field_promo_img.1.alt }}" 
            data-src="{{ file_url(node.field_promo_img.1.entity.fileuri| image_style('360x216')) }}" uk-img />
        </figure>
        <figure class="vista_img only_desktop"> 
        {% else %}
        <figure class="vista_img">
        {% endif %}
            <img 
            class="imagen" width="335" height="200" loading="lazy" alt="{{ node.field_promo_img.0.alt }}" 
            data-src="{{ file_url(node.field_promo_img.0.entity.fileuri| image_style('335x200')) }}" uk-img />
        </figure>
    {% endif %} 
    <h3 class="vista_abbr"><strong {% if color|length > 0 %}style="color: {{color}}"{% endif %}>{{ node.field_abbr.value }}</strong></h3>
    <h2 class="vista_title">{% if target_title %}{{ target_title }}{% endif %} {{ node.field_titulo.value }}</h2>
</a>