{% if view_mode == 'buscador' %} 

<article>
    <h3 class="title_buscador"><a href="{{ url }}">{{ node.title.value }}</a></h3>
    <article class="body"><p>{{ node.field_buscador.value|raw }}</p></article>
</article>

{% else %}

<section class="bg_black">
    <div class="block_content block_margins">
        <h1 id="title" class="title" style="max-width: 380px">{{ node.title.value|raw }}</h1>
    </div>
</section>
<section>
    <div class="block_content block_margins">
        <article class="body">
            {{ node.body.value|raw }}
        </article>
    </div>
</section>

{% endif %}