{% set apellido =
    node.field_apellido.value|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim 
%}
{% set nombre =
    node.field_nombre.value|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim 
%}

<div class="contents">
    <h4 class="block_titled">Siempre Conectados</h4>
</div> 
    {% if node.field_image.0.value|length > 0 %}
    <figure class=inverso> 
        <img loading="lazy" class="imagen" uk-img 
            class="imagen" alt="{{ node.field_image.alt }}" width="352" height="264" 
            data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('352x264') ) }}" />  
    </figure>
    {% endif %}
    <article>    
        <div class="body">
            <h3>{{ node.title.value }}</h3>
            <p>{{ node.body.summary }}</p>
        </div>
        {% if node.field_code_video.0.value|length > 0 %}
        <div class="contents_cta">
            <a href="#" uk-toggle="target: #m_{{ apellido }}_{{ nombre }}" class="action action_click"> 
                <span class="flecha svgs_play">
                    {{ svg_icon('utp_play') }}
                </span>
                Ver video
            </a>
        </div>
        {% endif %}
    <article> 

{% if node.field_code_video.0.value|length > 0 %}
<div id="m_{{ apellido }}_{{ nombre }}" class="video_modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body"> 
        <iframe data-src="https://www.youtube-nocookie.com/embed/{{ node.field_code_video.value }}" width="1920" height="1080" uk-video uk-responsive></iframe>
        <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
        </button> 
    </div>
</div>
{% endif %}