<h4 class="uk-accordion-title acordion_title">
    {{ node.title.value }}
    <span class="acordion_icon svgs_chev_down_stroke">{{ svg_icon('utp_chev_down') }}</span> 
</h4>
<div class="uk-accordion-content acordion_body">
    <div class="row show">
        {% if node.field_image.0.value|length > 0 %}
        <figure>
            <img loading="lazy" class="imagen" uk-img 
            class="imagen" alt="{{ node.field_image.alt }}" width="327" height="275" 
            data-src="{{ file_url(node.field_image.0.entity.fileuri | image_style('327x275') ) }}" /> 
        </figure>
        {% endif %}
        <article>
            {{ node.body.value|raw }}
            {% if node.field_linkedin.0.value|length > 0 %}
                <a href="{{ node.field_linkedin.0.value }}" target="_blank" class="linkedin_summary">
                    <span class="svgs_linkedin">
                        {{ svg_icon('utp_linkedin') }}    
                    </span>
                </a>
            {% endif %}
        </article>
</div>