<h5 class="submenu_desktop-title">Contáctanos</h5>

{% if performed_id %}
    <small style="display: none" class="performlead">{{ performed_id }}</small>
{% endif %}

{% if target_performed_id %}
    <small style="display: none" class="target_performed_id">{{ target_performed_id }}</small>
{% endif %}

{% if target_title %}
    <small style="display: none" class="target_title">{{ target_title }}</small>
{% endif %}

{% if fecha_evento %}
    <small style="display: none" class="fecha_evento">{{ fecha_evento }}</small>
{% endif %}

<div class="content_form">
    <form id="contacto_form" class="form-items">
        <div class="form-item" data-mensaje="Ingrese su nombre">
            <input id='nombres' class="form-input" type="text" value="" placeholder="Nombres *">
        </div>
        <div class="form-item" data-mensaje="Ingrese su Apellido Patern">
            <input id='ap_paterno' class="form-input" type="text" value="" placeholder="Apellido Paterno *">
        </div>
        <div class="form-item" data-mensaje="Ingrese su Apellido Materno">
            <input id='ap_materno' class="form-input" type="text" value="" placeholder="Apellido Materno *">
        </div>
        <div class="form-flex">
            <div class="form-item selects" data-mensaje="Seleccione un tipo de documento">
                <select id='docs_select' class="form-input">
                        <option value="" selected="selected">Tipo de Documento *</option>
                        <option value="dni">Documento Nacional de Identidad</option>
                        <option value="ce">Carné de Extranjería</option>
                        <option value="ci">Cédula de Identidad</option>
                </select>
                <span class="svgs_chev_down_stroke">
                    {{ svg_icon('utp_chev_down') }}
                </span>
            </div>
            <div class="form-item" data-mensaje="Ingrese su número de documento">
                <input id="dni" class="form-input" type="tel" value="" placeholder="Número *" maxlength="8">
            </div>
        </div>
        <div class="form-item" data-mensaje="Ingrese su Celular">
            <input id="celular" class="form-input" type="tel" value="" placeholder="Celular *" maxlength="9">
        </div>
        <div class="form-item" data-mensaje="Ingrese su Email">
            <input id="email" class="form-input" type="email" value="" placeholder="Email *">
        </div>
        <div class="form-item" data-mensaje="Ingrese su ciudad de residencia">
            <input id="ciudad" class="form-input" type="text" value="" placeholder="Ciudad de Residencia *">
        </div>
        <div class="form-item selects" data-mensaje="Seleccione un programa">
            <select id='programas_select' class="form-input">
                <option value="" selected>Programa de Interes *</option>
            </select>
            <span class="svgs_chev_down_stroke">
                {{ svg_icon('utp_chev_down') }}
            </span>
        </div>
        <div class="form-item checkbox" data-mensaje="Seleccione la casilla">
            <input class="form-check" id="autoLegal" type="checkbox">
            <label class="form-check-title" for="autoLegal">{{ check_info }}</label>
        </div>
        <div class="form-item checkbox">
            <input class="form-check" id="autoPub" type="checkbox" data-mensaje="Seleccione la casilla">
            <label class="form-check-title" for="autoPub">{{ check_uso }}<br><a
                    href="{{ url('<front>')|render }}politicas-seguridad">Ver políticas de privacidad</a></label>
        </div>
        <div class="form-item">
            <button class="form-button action">
                <span class="flecha svgs_arrow_bold">
                    {{ svg_icon('utp_arrow_bold') }}
                </span>
                Solicitar más información
            </button>
        </div>
    </form>
    <div id="gracias_contacto" class="gracias">
        {{ msg_thanks|raw }}
    </div>
</div>

{{ attach_library('contacto/contacto') }}