<!doctype html>
 <html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>500 Error</title>
 </head>
<style>
  html {
    height: 100%;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img{
    max-width: 100%;
  }
  body{
    color: #333;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
  }
  p{
    margin-bottom: 10px;
  }
  .main{
    width: 80%;
    margin: 0 auto;
    padding: 10% 0;
    text-align: center;
  }
  .content-inner {
    margin: 20px;
  }
  .content-inner .info{
    font-size: 20px;
  }
  .title{
    color: #ff5349;
    font-size: 100px;
  }
  @media only screen and (min-width: 768px){
    .main{
      display: table;
    }
    .media img{
      max-width: 350px;
    }
    .media,
    .content{
      display: table-cell;
      vertical-align: middle;
      width: 50%;
    }
  }
</style>
<body>
<div class="main">
  <div class="content">
    <div class="content-inner">
      <h1 class="title">500 + error</h1>
      <p class="info">There was an unexpected problem serving your request. Please try again and contact us if the problem persist including in your message. <em>{{ uuid }}</em> </p>
      <p class="info">{{ error_report }}</p>
    </div>
  </div>
</div>
 </body>
 </html>