{% if node.field_performlead.value|length > 0 %}
<small style="display: none" class="performlead">{{ node.field_performlead.value }}</small>
{% endif %}

{% if not logged_in %}  
{% include '@utp/layout/elements/load.html.twig' ignore missing %}
{% endif %}

{% if node.field_estilos.value |length > 0 %}
<style>
{{ node.field_estilos.value|raw }}
</style>
{% endif %}

{% include '@utp/layout/elements/header.html.twig' ignore missing %}

<main id="main">
    {% if logged_in %} 
        {{ page.messages_area }}
        {{ page.tabs_area }}
    {% endif %}
    {{ page.before }}
    {{ page.content }}
</main>

{% include '@utp/layout/elements/footer.html.twig' ignore missing %}
{% include '@utp/layout/elements/modals.html.twig' ignore missing %}
{% include '@utp/layout/elements/attr.html.twig' ignore missing %}

{% if is_front %}
    {{ attach_library('utp/home') }}
{% else %}
    {{ attach_library('utp/inside') }}
{% endif %}

{% if theme_hook_suggestions.5 in ['page__view__docentes__page_docentes'] %}
  {{ svg_docentes|raw }}
  {{ attach_library('utp/docentes') }}
{% elseif theme_hook_suggestions.1 in ['page__taxonomy__term'] %}
  {{ svg_anidadas|raw }}
  {{ attach_library('utp/anidadas') }}
{% endif %}