{% set p_attr = create_attribute() %}
{% set ul_attr = create_attribute() %}
{% set pattr = {
    PCLASS : [
        'section',
        paragraph.field_x_class.0.value,
        (paragraph.field_x_mobile.value  == '1') ? 'only_mobile',
        (paragraph.field_x_desktop.value  == '1') ? 'only_desktop',
        (paragraph.field_main_title.value  == '1') ? 'bg_black'
    ]
} %}
{% set uattr = { 
    PTYPES : [
        (paragraph.field_x_multiple_tipo.value == '01_basico')          ? 'row parents',
        (paragraph.field_x_multiple_tipo.value == '02_full')            ? 'row full',
        (paragraph.field_x_multiple_tipo.value == '03_grid_lateral')    ? 'row parents parents_sidebar',
        (paragraph.field_x_multiple_tipo.value == '04_grid_maximo')     ? 'row parents',
        (paragraph.field_x_multiple_tipo.value == '05_slide_maximo')    ? 'uk-slider-items',
        (paragraph.field_x_multiple_tipo.value == '06_grid_head_body')  ? 'row'
    ],
    PCHILD : [
        paragraph.field_x_grids.value
    ]
} %}

{% if paragraph.field_x_grids.value|length > 0 %}
    {% set maximos = paragraph.field_x_grids.0.value %}
{% endif %}

{% if paragraph.field_main_title.value == '1' %}
<section{{ p_attr.addClass(pattr.PCLASS) }}>
    <div class="block_content block_margins">
        <h1 id="title" class="title" style="max-width: 380px">{{ paragraph.field_x_title.value|raw }}</h1>
{% else %}
<section{{ p_attr.addClass(pattr.PCLASS) }} uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="block_content block_margins">

        {% if paragraph.field_x_multiple_tipo.value in ['06_grid_head_body', '08_acordeon_6'] %}

            <div class="row centered">
                <div>
                    <article class="cabecera">
                        <h4 class="block_title">
                            {{ paragraph.field_x_title.value|raw }}
                        </h4>
                    </article>
                    <article class="block_body">{{ paragraph.field_x_body.value|raw }}</article>
                </div>
                <ul {% if paragraph.field_x_multiple_tipo.value == '08_acordeon_6' %}uk-accordion{% endif %}>  
                    {% for key, item in content.field_x_multiple if key|first != '#' %}
                        <li {% if paragraph.field_x_multiple_tipo.value == '08_acordeon_6' %}class="acordion_item"{% endif %}>{{ item }}</li>
                    {% endfor %}   
                </ul>   
            </div> 

        {% else %}

            {% if paragraph.field_x_head.value == '1' %}
            {% set class = ' cabecera_mobile' %}
            {% endif %}

            {% if paragraph.field_x_body.value|length > 0 %}
            <div class="cabecera row centered">
                <article{% if paragraph.field_x_enlace.0.value|length > 0 %} style="max-width: 100%;flex: 100%;margin-bottom: 1rem;"{% endif %}>
                    <h4 class="block_title">
                            {{ paragraph.field_x_title.value|raw }}
                            {% if paragraph.field_x_enlace.0.value|length > 0 %}
                            <a 
                            href="{{ paragraph.field_x_enlace.0.url }}" 
                            target="{{ paragraph.field_x_enlace.0.url.external ? '_blank' : '_self' }}" 
                            rel="{{ paragraph.field_x_enlace.0.url.external ? 'noopener' : '_self' }}" 
                            class="action negro only_desktop_flex" style="font-size: 18px; margin-left: 1rem;">
                                <span class="flecha svgs_arrow_bold">{{ svg_icon('utp_arrow_bold') }}</span>
                                {{ paragraph.field_x_enlace.title|raw }}
                            </a>
                            {% endif %}
                        </h4>
                </article>
                <article class="block_body">{{ paragraph.field_x_body.value|raw }}</article>
                <div class="contents_cta only_mobile" style="width: 100%;">
                    {% if paragraph.field_x_enlace.0.value|length > 0 %}
                            <a 
                            href="{{ paragraph.field_x_enlace.0.url }}" 
                            target="{{ paragraph.field_x_enlace.0.url.external ? '_blank' : '_self' }}" 
                            rel="{{ paragraph.field_x_enlace.0.url.external ? 'noopener' : '_self' }}" 
                            class="action negro" style="font-size: 18px; margin-left: 1rem;">
                                <span class="flecha svgs_arrow_bold">{{ svg_icon('utp_arrow_bold') }}</span>
                                {{ paragraph.field_x_enlace.title|raw }}
                            </a>
                    {% endif %}
                </div>
            </div>
            {% else %}
                {% if paragraph.field_x_title.value|length > 0 %}
                <div class="cabecera{{ class }}">
                    <h4 class="block_title">{{ paragraph.field_x_title.value|raw }}</h4>
                </div>
                {% endif %}
            {% endif %}

            {% if paragraph.field_x_multiple.value|length > 0 %}

                {% if paragraph.field_x_multiple_tipo.value in ['05_slide_maximo', '10_slide'] %}
                <div class="carrusel carrusel_full" uk-slider="autoplay: true; autoplay-interval: 5000"> 
                    <div>
                {% elseif paragraph.field_x_multiple_tipo.value == '09_slide' %}
                <div class="blockquotes" uk-slideshow="autoplay: true; autoplay-interval: 5000; min-height: 300; max-height: 500; animation: fade">
                {% endif %}
                        {% if paragraph.field_x_multiple_tipo.value == '07_acordeon' %}
                        <ul uk-accordion>
                        {% elseif paragraph.field_x_multiple_tipo.value in ['09_slide', '10_slide'] %}
                        {% else %}
                        <ul{{ ul_attr.addClass(uattr.PTYPES).setAttribute('data-child', uattr.PCHILD) }}> 
                        {% endif %}
                            {% for key, item in content.field_x_multiple if key|first != '#' %}
                                {% if paragraph.field_x_multiple_tipo.value == '07_acordeon' %}
                                <li class="acordion_item">
                                {% elseif paragraph.field_x_multiple_tipo.value in ['09_slide', '10_slide'] %}
                                {% else %}
                                <li>
                                {% endif %}
                                    {{ item }}
                                </li>
                            {% endfor %}   
                        </ul> 

                {% if paragraph.field_x_multiple_tipo.value in ['05_slide_maximo', '10_slide'] %} 
                </div>{# flechitas aqui #}</div>
                {% elseif paragraph.field_x_multiple_tipo.value == '09_slide' %}
                <a class="slider_arrow-left" href="#" uk-slideshow-item="previous">
                    <span class="svgs_chev_left_stroke">{{ svg_icon('utp_chev_left') }}</span>
                </a>
                <a class="slider_arrow-right" href="#" uk-slideshow-item="next">
                    <span class="svgs_chev_right_stroke">{{ svg_icon('utp_chev_right') }}</span>
                </a> 
                </div>
                {% endif %}

            {% elseif paragraph.field_x_bloque.value|length > 0 %}

                {% set predet = paragraph.field_x_bloque.value %}

                <div class="bloque_content">    
                    {{ drupal_block(predet) }}
                </div>

            {% endif %}

        {% endif %}
{% endif %}

    </div>

{% if paragraph.field_linea.value in ['01_Tipo1'] %}
{{ svg_tipo_1|raw }}
{% elseif paragraph.field_linea.value in ['02_Tipo2'] %}
{{ svg_tipo_2|raw }}
{% elseif paragraph.field_linea.value in ['03_Tipo3'] %}
{{ svg_tipo_3|raw }}
{% elseif paragraph.field_linea.value in ['04_Tipo4'] %}
{{ svg_tipo_4|raw }}
{% elseif paragraph.field_linea.value in ['05_Tipo5'] %}
{{ svg_tipo_5|raw }}
{% endif %}

</section>