{% if paragraph.field_switch.value == 'acordion' %}

<ul uk-accordion>
    {% for key, item in content.field_x_content if key|first != '#' %}
        {% if key == 0 %}
        <li class="acordion_item uk-open">
        {% else %}
        <li class="acordion_item">
        {% endif %}
            {{ item }}
        </li>
    {% endfor %}
</ul>

{% elseif paragraph.field_switch.value == 'slideshow' %}

<ul class="uk-slideshow-items">
    {% for key, item in content.field_x_content if key|first != '#' %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

{% elseif paragraph.field_switch.value == 'slider' %}

<ul class="uk-slider-items">
    {% for key, item in content.field_x_content if key|first != '#' %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

{% else %}

{{ item }}

{% endif %}