{% set s_attr = create_attribute() %} 
{% set sattr = {
    SCLASS : [
        'carrusel_block',
        paragraph.field_x_class.value
    ]
} %}

<section{{ s_attr.addClass(sattr.SCLASS) }}>
    <div class="block_content block_margins"> 
        <div class="row full block_view">
            {{ content.field_x_vista }}
        </div>
    </div>
</section>