{% set s_attr = create_attribute() %}
{% set sattr = {
    PCLASS : [
        'row', 'block_margins'
    ]
} %}

<div{{ s_attr.addClass(sattr.PCLASS) }}>
    {% if paragraph.field_x_img.0.value|length > 0 %}
    <figure class="slider_img">
        {% if node_id == '24' %}
        <img class=imagen loading="lazy" uk-img
            class=imagen data-src="{{ file_url(paragraph.field_x_img.0.entity.fileuri | image_style('432x300') ) }}"
            alt="{{ paragraph.field_x_img.alt }}" width="432" height="300" />
        {% elseif node_id == '19' %}
        <img class=imagen loading="lazy" uk-img
            class=imagen data-src="{{ file_url(paragraph.field_x_img.0.entity.fileuri | image_style('712x300') ) }}"
            alt="{{ paragraph.field_x_img.alt }}" width="712" height="300" />
        {% else %}
        <img class=imagen loading="lazy" uk-img
            class=imagen data-src="{{ file_url(paragraph.field_x_img.0.entity.fileuri | image_style('512x356') ) }}"
            alt="{{ paragraph.field_x_img.alt }}" width="512" height="356" />
        {% endif %}
    </figure>
    {% endif %}
    <article class="slider_body">
        <h2 class="title" uk-slider-parallax="x: 100,-100">{{ paragraph.field_x_title.value|raw }}</h2>
        {% if paragraph.field_x_enlace.0.value|length > 0 %}
        <a href="{{ paragraph.field_x_enlace.0.url }}" target="{{ paragraph.field_x_enlace.0.url.external ? '_blank' : '_self' }}" class="action negro">
            <span class="flecha svgs_arrow_bold">
                {{ svg_icon('utp_arrow_bold') }}
            </span>
            {{ paragraph.field_x_enlace.title }}
        </a>
        {% endif %}
        {% if paragraph.field_x_logo.0.value|length > 0 %}
        <img uk-img loading="lazy" style="margin-top: 2rem;"
        class="only_mobile" data-src="{{ file_url(paragraph.field_x_logo.0.entity.fileuri) }}"
        height="{{ paragraph.field_x_logo.height }}" width="{{ paragraph.field_x_logo.width }}" />
        {% endif %}
    </article>
</div>
