{% set s_attr = create_attribute() %}
{% set sattr = {
    SCLASS : [
        'slider',
        paragraph.field_x_class.value
    ]
} %}

<section{{ s_attr.addClass(sattr.SCLASS) }}>
    <div class="block_content">
        {% if content.field_grupo_slide|field_value|length > 1 %}
        <div uk-slideshow="autoplay: true; autoplay-interval: 6000; min-height: 340; max-height: 450; animation: fade; pause-on-hover: true">
            <ul class="uk-slideshow-items">
                <li>{{ content.field_grupo_slide[0] }}</li>
                {% for key, value in content.field_grupo_slide %}
                    {% if key > 0 %}
                <li>{{ value }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="uk-slideshow-nav uk-dotnav menu_row"></ul>
        </div>
        {% else %}
            {{ content.field_grupo_slide[0] }}
        {% endif %}
    </div>
    {% if paragraph.field_stroke.value == '1' %}
        {{ svg_slider|raw }}
    {% endif %}
</section>
