
    {% if paragraph.field_x_docente.value|length > 0 %} 
        {{ content.field_x_docente }}
    {% elseif paragraph.field_xp_complejo.value|length > 0 %} 
        <h4 class="uk-accordion-title acordion_title">
            {{ paragraph.field_xp_complejo.entity.field_x_title.value }} 
            <span class="acordion_icon svgs_chev_down_stroke">
                {{ svg_icon('utp_chev_down') }}
            </span>
        </h4>
        <div class="uk-accordion-content acordion_body">
            <div class="row show">
                <figure>
                    <img loading="lazy" class="imagen" uk-img 
                    class="imagen" alt="{{ paragraph.field_xp_complejo.entity.field_x_img.alt }}" width="327" height="275" 
                    data-src="{{ file_url(paragraph.field_xp_complejo.entity.field_x_img.0.entity.fileuri | image_style('327x275') ) }}" />  
                </figure>
                <article>  
                    {{ paragraph.field_xp_complejo.entity.field_x_body.value|raw }}
                    {% if paragraph.field_xp_complejo.entity.field_x_enlace.0.value|length > 0 %}
                        <a href="{{ paragraph.field_xp_complejo.entity.field_x_enlace.0.url }}" target="_blank" class="linkedin_summary">
                            <span class="svgs_linkedin">
                                {{ svg_icon('utp_linkedin') }}    
                            </span>
                        </a>
                    {% endif %}
                </article>
            </div>
        </div>
    {% endif %}