<div class="row space_menor">
    <article>
        <h3 class="block_titled">{{ paragraph.field_x_title.value|raw }}</h3>
        <div class="body">{{ paragraph.field_x_body.value|raw }}</div>
    </article>
    {% if paragraph.field_x_img.0.value|length > 0 %}
    <figure>
        <img loading="lazy" alt="{{ paragraph.field_x_img.alt }}" width="328" height="392" 
        data-src="{{ file_url(paragraph.field_x_img.0.entity.fileuri| image_style('328x392')) }}" uk-img class="imagen"/>
        {% if paragraph.field_x_video.0.value|length > 0 %}
        <a href="#" uk-toggle="target: #x_{{ paragraph.field_x_video.value }}" class="action action_click action_play"> 
            <span class="svgs_play">
                {{ svg_icon('utp_play') }}
            </span>
        </a>
        {% endif %}
    </figure>
    {% endif %}
    {% if paragraph.field_x_video.0.value|length > 0 %}
        <div id="x_{{ paragraph.field_x_video.value }}" class="video_modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <iframe data-src="https://www.youtube-nocookie.com/embed/{{ paragraph.field_x_video.value }}" width="1920" height="1080" uk-video uk-responsive></iframe> 
                <button class="uk-modal-close main_button svgs_close" type="button">
                    {{ svg_icon('utp_close') }}
                </button> 
            </div>
        </div>
    {% endif %}
</div>