{% if paragraph.field_x_simple.value == '02_Columna' %}
    <div class="columna">
        <article class="block_title"><h3>{{ paragraph.field_x_title.value|raw }}</h3></article>
        <article class="block_body">{{ paragraph.field_x_body.value|raw }}</article>
    </div>
{% elseif paragraph.field_x_simple.value == '03_Acordeon' %}
    <h4 class="uk-accordion-title acordion_title">
        {{ paragraph.field_x_title.value|raw }}
        <span class="acordion_icon svgs_chev_down_stroke">
            {{ svg_icon('utp_chev_down') }}
        </span>
    </h4>
    <div class="uk-accordion-content acordion_body" hidden="">
        {{ paragraph.field_x_body.value|raw }}
    </div>
{% else %}
    {% if paragraph.field_x_title.value|length > 0 %}
    <article class="block_titled">
        <h3>{{ paragraph.field_x_title.value|raw }}</h3>
    </article>
    {% endif %}
    <article class="block_body">
        {{ paragraph.field_x_body.value|raw }}
    </article>
{% endif %} 