{% if paragraph.field_x_img_format.value == '528x440' %}
    {% set img_formats_w = '528' %}
    {% set img_formats_h = '440' %}
{% elseif paragraph.field_x_img_format.value == '224x180' %}
    {% set img_formats_w = '224' %}
    {% set img_formats_h = '180' %}
{% elseif paragraph.field_x_img_format.value == '176x152' %}
    {% set img_formats_w = '176' %}
    {% set img_formats_h = '152' %}
{% elseif paragraph.field_x_img_format.value == '392x401' %}
    {% set img_formats_w = '392' %}
    {% set img_formats_h = '401' %}
{% elseif paragraph.field_x_img_format.value == '328x313' %}
    {% set img_formats_w = '328' %}
    {% set img_formats_h = '313' %}
{% endif %}

{% if paragraph.field_x_complejo.value == '01_Base' %}
    <div class="base">
        {% if paragraph.field_x_img.value|length > 0 %}
        <figure>
            <img uk-img loading="lazy"
            class=imagen alt="{{paragraph.field_x_img.alt}}"
            data-src="{{ file_url(paragraph.field_x_img.0.entity.fileuri | image_style(paragraph.field_x_img_format.value)) }}"
            width="{{ img_formats_w }}" height="{{ img_formats_h }}"/>
        </figure>
        {% endif %}
        <h4>{{ paragraph.field_x_title.value|raw }}</h4>
        {{ paragraph.field_x_body.value|raw }}
    </div>
{% elseif paragraph.field_x_complejo.value == '02_Icono' %}
    <div class="icono">
        {% if paragraph.field_x_icon.value|length > 0 %}
        <figure class="block_figure">
            <img
            <img uk-img loading="lazy" alt="{{paragraph.field_x_icon.alt}}"
            data-src="{{ file_url(paragraph.field_x_icon.entity.fileuri) }}"
            width="{{paragraph.field_x_icon.width}}" height="{{paragraph.field_x_icon.width}}"/>
        </figure>
        {% endif %}
        <article class="block_body">
            {{ paragraph.field_x_body.value|raw }}
        </article>
    </div>
{% elseif paragraph.field_x_complejo.value == '03_Columna' %}
    <div class="row row_column{% if paragraph.field_x_invertir.value == '1' %} invertir{% endif %}">
        {% if paragraph.field_x_img.value|length > 0 %}
        <figure class="block_figure">
            <img uk-img loading="lazy"
            class=imagen alt="{{paragraph.field_x_img.alt}}"
            data-src="{{ file_url(paragraph.field_x_img.0.entity.fileuri | image_style(paragraph.field_x_img_format.value)) }}"
            width="{{ img_formats_w }}" height="{{ img_formats_h }}"/>
        </figure>
        {% endif %}
        <article class="block_body">
            {% if paragraph.field_x_title.value|length > 0 %}
            <h3 class="block_title">{{ paragraph.field_x_title.value|raw }}</h3>
            {% endif %}
            {{ paragraph.field_x_body.value|raw }}
            {% if paragraph.field_x_enlace.0.value|length > 0 %}
            <div class="contents contents_cta">
                <a
                href="{{ paragraph.field_x_enlace.0.url }}"
                target="{{ paragraph.field_x_enlace.0.url.external ? '_blank' : '_self' }}"
                rel="{{ paragraph.field_x_enlace.0.url.external ? 'noopener' : '_self' }}"
                class="action negro">
                    <span class="flecha svgs_arrow_bold">
                        {{ svg_icon('utp_arrow_bold') }}
                    </span>
                    {{ paragraph.field_x_enlace.title }}
                </a>
            </div>
            {% endif %}
        </article>
    </div>
{% else %}
    {% if paragraph.field_x_img.value|length > 0 %}
    <figure>
        <img uk-img loading="lazy"
            class=imagen alt="{{paragraph.field_x_img.alt}}"
            data-src="{{ file_url(paragraph.field_x_img.0.entity.fileuri | image_style(paragraph.field_x_img_format.value)) }}"
            width="{{ img_formats_w }}" height="{{ img_formats_h }}"/>
    </figure>
    {% endif %}
    {% if paragraph.field_x_title.value|length > 0 %}
    <h3 class="block_title">{{ paragraph.field_x_title.value|raw }}</h3>
    {% endif %}
    {{ paragraph.field_x_body.value|raw }}
{% endif %}
