{% set links = calendar_links(node.title, node.field_fecha, node.field_fecha, node.field_fecha, node.field_t_gc, node.field_t_lugar) %}
<ul>
    {% for link in links %}
    <li>
        <a href="{{ link.url }}" target="_blank" class="calendar-link-{{ link.type_key }}">{{ link.type_name }}</a>
    </li>
    {% endfor %}
</ul>