{% if items %}
  <div class="block_content pagers" style="justify-content: flex-end;margin-bottom: 5rem;">
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items row"> 
      {# Print previous item if we are not on the first page. #}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        <li class="pager__item{{ current == key ? ' is-active uk-active' : '' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
          {% else %}
            {% set title = 'Go to page @key'|t({'@key': key}) %}
          {% endif %}
          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
            <span class="visually-hidden">
              {{ current == key ? 'Current page'|t : 'Page'|t }}
            </span>
            {{- key -}}
          </a>
        </li>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="pager__item pager__item--ellipsis" role="presentation">&hellip;</li>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      <li class="pager__sep pager__item"></li>
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a 
          href="{{ items.previous.href }}" 
          title="{{ 'Go to previous page'|t }}" 
          rel="prev"
          data-svg="arrow_left"
          {{ items.previous.attributes.addClass('ileft')|without('href', 'title', 'rel') }}> 
            <span class="svgs_chev_left_stroke">
              {{ svg_icon('utp_chev_left') }}
            </span>
          </a>
        </li>
      {% endif %}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a 
          href="{{ items.next.href }}" 
          title="{{ 'Go to next page'|t }}" 
          rel="next"
          data-svg="arrow_right"
          {{ items.next.attributes.addClass('iright')|without('href', 'title', 'rel') }}> 
            <span class="svgs_chev_right_stroke">
              {{ svg_icon('utp_chev_right') }}
            </span>
          </a>
        </li> 
      {% endif %} 
      <li class="pager__sep pager__item"></li>
      {% if items.first %}
        <li class="pager__item pager__item--first">
          <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'First page'|t }}</span>
            <span class="svgs_chevdouble_left_stroke">
              {{ svg_icon('utp_chevdouble_left') }}
            </span>
          </a>
        </li>
      {% endif %}
      {% if items.last %}
        <li class="pager__item pager__item--last">
          <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'Last page'|t }}</span>
            <span class="svgs_chevdouble_right_stroke">
              {{ svg_icon('utp_chevdouble_right') }}
            </span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav></div>
{% endif %}
