<div id="the_blog" class="row full blog">
    {#<div class="base" style="grid-area: a;">
        <figure>
            <img data-src="https://www.postgradoutp.edu.pe/blog/wp-content/uploads/2021/10/1-1-1-768x525.jpg" loading="lazy" width="528" height="224" uk-img/>
        </figure>
        <article>
            <h4>Guía para crear una estrategia de contenidos post COVID-19</h4>
            <p>Los nuevos hábitos de limpieza en los hogares y el distanciamiento social en los lugares públicos apenas son  dos de estas nuevas condiciones que, gracias al COVID-19, también han impactado las estrategias decontenidos de las empresas y sus marcas.</p>
            <div class="contents_cta">
                <a href="https://www.postgradoutp.edu.pe/blog/a/guia-para-crear-una-estrategia-de-contenidos-post-covid-19/" target="_blank" class="action">
                    <span class="flecha svgs_arrow_bold">
                        {{ svg_icon('utp_arrow_bold') }}
                    </span>
                    Leer más
                </a>
            </div>
        </article>
    </div>
    <div class="base" style="grid-area: b;">
        <figure>
            <img data-src="https://www.postgradoutp.edu.pe/blog/wp-content/uploads/2021/10/1-768x525.jpg" loading="lazy" width="528" height="224" uk-img/>
        </figure>
        <article>
            <h4>3 ejemplos de toma de decisiones creativas en época de crisis</h4>
            <p>Parrafo</p>
            <div class="contents_cta">
                <a href="https://www.postgradoutp.edu.pe/blog/a/3-ejemplos-de-toma-de-decisiones-creativas-en-epoca-de-crisis/" target="_blank" class="action">
                    <span class="flecha svgs_arrow_bold">
                        {{ svg_icon('utp_arrow_bold') }}
                    </span>
                    Leer más
                </a>
            </div>
        </article>
    </div> 
    <div class="base" style="grid-area: c;">
        <figure>
            <img data-src="https://www.postgradoutp.edu.pe/blog/wp-content/uploads/2021/05/portada3-768x525.png" loading="lazy" width="528" height="224" uk-img/>
        </figure>
        <article>
            <h4>7 tips para realizar home office y estudiar a distancia</h4>
            <p>7 tips para realizar home office y estudiar a distancia</p>
            <div class="contents_cta">
                <a href="https://www.postgradoutp.edu.pe/blog/a/7-tips-para-realizar-home-office-y-estudiar-a-distancia/" target="_blank" class="action">
                    <span class="flecha svgs_arrow_bold">
                        {{ svg_icon('utp_arrow_bold') }}
                    </span>
                    Leer más
                </a>
            </div>
        </article>
    </div>#}
</div>

<script>
    const XML_URL = {{ xml_url|raw }};
</script>

{{ attach_library('blog/blog') }}