{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class='menu_row menu_mobile'> 
    {% elseif menu_level == 1 %}
          <button class="uk-modal-close" type="button">&times;</button>
          <ul class='submenu_mobile'>  
    {% else %}
      <ul class='submenu_mobile-submenu'>  
    {% endif %} 
    {% for item in items %}
      {% if (item.is_expanded and (menu_level == 0)) %}
      <li{{ item.attributes }}>
        <button type="button" class="menu_mobile-button" uk-toggle="target: #menu_{{ item.title|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim }}">
          {{ link(item.title, item.url) }}
        </button>
      {% else %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url, { 'class':['menu_mobile-link'] }) }}
      {% endif %}
        {% if item.below %}
          {#{ menus.menu_links(item.below, attributes, menu_level + 1) }#}
        {% endif %}
      </li>
    {% endfor %}
    {% if menu_level == 1 %}
        </ul> 
      </div>
    </div>
    {% else %}
    </ul>
    {% endif %} 
  {% endif %}
{% endmacro %}