{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu_row menu_footer').setAttribute('uk-accordion', '') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
        {% if item.is_expanded and (menu_level == 0) %}
            {#<li{{ item.attributes.addClass('footer_data-title') }}>#}
            <li{{ item.attributes }}> 
        {% elseif item.is_expanded and (not menu_level == 0) %} 
            <li{{ item.attributes }}> 
        {% elseif (not item.is_expanded) and (menu_level == 0) %}
        {% else %}
            <li{{ item.attributes }}> 
        {% endif %} 
        {% if ((not item.is_expanded) and (menu_level == 0)) %}
        {% elseif (item.is_expanded and (menu_level >= 1)) %}
            {{ link(item.title, item.url) }}
        {% elseif (item.is_expanded and (menu_level == 0)) %}
            <a class="uk-accordion-title menu_footer-title" href="#">
                <h5>{{ link(item.title, item.url, { 'class':['footer_data-title'] }) }}</h5>
                <span class="acordion_icon svgs_chev_down_stroke">
                    {{ svg_icon('utp_chev_down') }}
                </span>
            </a>
            <div class="uk-accordion-content menu_footer-content">
            {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
            </div>
        {% else %}
            {{ link(item.title, item.url) }}
            {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
        {% endif %} 
        </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}