{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu_row menu_rrss') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %} 
      <li{{ item.attributes }}>
        {% set titulo_lower = item.title|lower %}
        {% set titulo_upper = item.title|upper %}
        {% set titulo = '
          <span class="svgs_'~titulo_lower~'">
            <svg class="icon icon--utp_'~titulo_lower~'">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#utp_'~titulo_lower~'"></use>
            </svg>
          </span>
          <span class="menu_rrss-span">'~titulo_upper~'</span>
        ' %}
        {% set link_text %}{{ titulo|raw }}{% endset %}
        {{ link(link_text, item.url) }} 
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}