{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class='menu_row menu_desktop'> 
    {% elseif menu_level == 1 %}
          <ul class='submenu_desktop'>  
    {% else %}
      <ul class='submenu_desktop-submenu'>  
    {% endif %} 
    {% for item in items %}

  {%  set first_li = [
    item.is_expanded ? 'first_li--expanded',
    item.is_collapsed ? 'first_li--collapsed',
    item.in_active_trail ? 'first_li--active-trail',
  ] %}
  {%  set second_li = [
    item.is_expanded ? 'second_li--expanded',
    item.is_collapsed ? 'second_li--collapsed',
    item.in_active_trail ? 'second_li--active-trail',
  ] %}
    
      {% if (not (item.is_expanded) and (menu_level == 0))  %}
      <li{{ item.attributes.addClass(first_li) }}>
        {{ link(item.title, item.url, { 'class':['menu_desktop-link'] }) }}
      {% elseif (item.is_expanded and (menu_level == 0)) %}
      <li{{ item.attributes.addClass(first_li) }}>
        <button type="button" class="menu_desktop-button" uk-toggle="target: #menu_{{ item.title|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim }}">
          {{ link(item.title, item.url) }}
        </button>
        <div class="modal_menu-desktop desktop_mobile" uk-modal style="display:none" id="menu_{{ item.title|replace({ 
        ' ':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u', 'ñ':'n', 'para ':'', 'y ':'', 'e ':'', 'la ':'', 'de ':''
    })|lower|raw|trim }}">
          <div class="uk-modal-dialog uk-modal-body">
            <div class="copy-header"> 
              <button class="main_button svgs_chev_left_stroke" type="button" uk-toggle="target: #mobile">
                {{ svg_icon('utp_chev_left') }}
              </button>
              <h4>{{ item.title }}</h4>
            </div> 
            <div class="modal-header"> 
              <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
              </button> 
            </div> 
            <div class="modal-body">
      {% elseif ( (item.is_expanded) and (menu_level == 1) ) %}
      <li{{ item.attributes.addClass(second_li) }}>
        {{ link(item.title, item.url, { 'class':['submenu_desktop-title'] }) }}
      {% elseif ( not (item.is_expanded) and (menu_level == 1) ) %}
      <li{{ item.attributes.addClass(second_li) }}>
        {{ link(item.title, item.url, { 'class':['submenu_desktop-link'] }) }}
      {% elseif menu_level == 2 %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url, { 'class':['submenu_desktop-link'] }) }}
      {% else %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
      {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    {% if menu_level == 1 %}
          </ul> 
        </div>
      </div>
    </div>
    {% else %}
    </ul>
    {% endif %} 
  {% endif %}
{% endmacro %}