.filtrado_legend {
    font-size: 1.5em;
    border-bottom: 1px solid #969696;
    max-width: 28rem;
    padding: 0 0 .5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .checkbox {
    font-size: 1.25em;
    position: relative;
    margin-bottom: 1rem;
  }
  .checkbox input {
    display: none;
  }
  .checkbox label {
    padding-left: 2.5rem;
  }
  .checkbox label::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    transition: .25s background-color;
  }
  .checkbox input:checked + label::before { background-color: black; }
  .checkbox label::after {
    content: '';
    width: .5rem;
    height: 1rem;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    display: block;
    position: absolute;
    left: .5rem;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    transition: .25 border-color;
  }
  .checkbox input:checked + label::after {
    border-color: white;
  }
  
  .searching > * { min-width: 100%; }
  .encontrado > ul > li {
    margin-bottom: 2rem;
  }
  h5.uk-accordion-title {
    font-size: 1.25em;
    margin-bottom: .75rem;
    position: relative;
  }
  h5.uk-accordion-title span:last-child { display: none; }
  .encontrado a {
    font-size: 1.125em;
    color: black;
    line-height: 1;
    padding: .5rem 0;
    display: block;
    border-bottom: 1px solid #999;
    position: relative;
  }
  .encontrado a span {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    margin: auto;
    bottom: 0; 
    transition: .25s right;
  }
  .encontrado a:hover span { right: 1rem; }
  @media (min-width: 50rem) {
    .searching > * { min-width: 0; max-width: 48%; }
    h5.uk-accordion-title { pointer-events: none; }
    h5 + .uk-accordion-content {
      overflow: visible !important;
      height: 100% !important;
      display: block !important; .}
  }
  @media (max-width: 799px) {
    .filtrado_programa,
    .filtrado_modalidad { display: none; }
    h5.uk-accordion-title {
      border-bottom: 1px solid #969696;
      padding-bottom: .25rem;
    }
    h5.uk-accordion-title span:last-child {
      width: 1.5rem;
      height: 1.5rem;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(0);
      transition: .25s transform;
    }
    .uk-open h5.uk-accordion-title span:last-child {
      transform: rotate(180deg);
    }
  }