.blog .base:not(:first-child) figure {
    display: flex;
    align-items: center;
}
.blog .base img { width: 100%; }
.blog .base:not(:first-child) img {
  height: 176px;
  object-fit: contain;
  width: 100%;
}
.blog .base:not(:first-child) p,
.blog .base:not(:first-child) article div:not(.contents_cta),
.blog .base:first-child article div:not(.contents_cta) p {
    display: none;
} 
.blog .base:first-child article div:not(.contents_cta) {
  margin-top: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (min-width: 30rem) {
.blog .base:not(:first-child) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
.blog .base:not(:first-child) > * {
  width: 50%;
}
.blog .base:not(:first-child) > *:first-child {
  width: 40%;
}
.blog .base:not(:first-child) .contents_cta {
    display: contents;
}
}
@media (min-width: 50rem) {
div.blog {
    display: grid;
    grid-template-areas: "a b" "a c";
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
}
.blog .base { grid-area: b; }
.blog .base:last-child { grid-area: c; }
.blog .base:first-child {
    margin-right: 3rem;
    position: relative;
    border: 0;
    grid-area: a;
}
.blog .base:first-child + .base {
    border-top: 1px solid rgba(0,0,0,.25);
}
}
@media (max-width: 479px) {
.blog .base img,
.blog .base:not(:first-child) img {
  width: 100%;
  height: auto;
  max-width: 480px;
}
}