@font-face {font-family: 'Helvetica Light';src: local('Helvetica Light'),url('../fonts/Helvetica-Light.woff2') format('woff2'),url('../fonts/Helvetica-Light.woff') format('woff');font-weight: normal;font-style: normal;font-display: swap; }
@font-face {font-family: 'Helvetica Bold';src: local('Helvetica Bold'), url('../fonts/Helvetica-Bold.woff2') format('woff2'), url('../fonts/Helvetica-Bold.woff') format('woff');font-weight: normal;font-style: normal;font-display: swap; }
html{max-width:100vw;overflow:hidden;}
img,svg{aspect-ratio:attr(width) / attr(height);}
body{font-family:'Helvetica Light', Helvetica, sans-serif;font-weight:400;overflow:hidden;margin:0;padding:0;display:flex;flex-flow:column;min-height:100vh;}
body *{margin:0;padding:0;text-decoration:inherit;}
h1,h2,h3,h4,h5,strong,b{font-family:'Helvetica Bold', sans-serif;font-weight:400;}
small{font-size:80%;}
main{flex:1;}
*,:before,:after{box-sizing:border-box;}
ol,ul{list-style:none;}
h1,h2,h3,b,strong,h4,h5,h6{font-weight:400;line-height:1;font-size:inherit;}
figure{overflow:hidden;position:relative;}
img,svg{display:block;height:auto;object-fit:cover;object-position:center;}
fieldset{border:0;}
.visually-hidden,.hidden,.sr-only,[hidden]{display:none;}
.logo_img{max-width:9rem;}
a:focus,button:focus,input:focus,span:focus{outline:0;}
.strokes{position:absolute;width:2000px;top:0;z-index:0;left:50%;transform:translatex(-50%);}
.strokes.only_mobile {width:800px;}
.call_contacto,.uk-modal{display:none;position:fixed;}
.uk-sticky-fixed{z-index:980;box-sizing:border-box;margin:0!important;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
[class*="svgs_"]{display:flex;justify-content:center;align-items:center;background-color:transparent;border:0;}
[class*="svgs_"] svg{width:1.25rem;height:1.25rem;}
[class*="svgs_"][class*="_stroke"] svg{fill:none;stroke:#000;}
.uk-modal-page{overflow:hidden;}
.uk-modal{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1010;overflow-y:auto;-webkit-overflow-scrolling:touch;padding:15px;background:rgba(0,0,0,.6);opacity:0;transition:opacity .15s linear;}
.uk-modal.uk-open{opacity:1;}
.uk-modal-dialog{position:relative;box-sizing:border-box;margin:0 auto;width:600px;max-width:calc(100% - 0.01px)!important;background:#fff;opacity:0;transform:translateY(100px);transition:.3s linear;transition-property:opacity,transform;}
.uk-modal-body{display:flow-root;padding:30px;}
.uk-open>.uk-modal-dialog{opacity:1;transform:translateY(0);}
.modal_menu-desktop .uk-modal-dialog,.modal_menu-mobile .uk-modal-dialog{transform:translateX(100px);}
.modal_menu-desktop.uk-open>.uk-modal-dialog,.modal_menu-mobile.uk-open > .uk-modal-dialog{transform:translateX(0);}
.uk-slideshow{position:relative;width:100%;}
.uk-slideshow-items{position:relative;z-index:0;margin:0 -.5rem;padding:0;list-style:none;overflow:hidden;-webkit-touch-callout:none;}
.uk-slideshow-items > *{position:absolute;top:0;left:0;right:0;bottom:0;padding:0 .5rem;opacity:0;transition-duration:150ms!important;}
.uk-slideshow-items > .uk-transition-active,.uk-slideshow-items > .uk-transition[style*='z-index']{transition-duration:75ms!important;opacity:1;}
.uk-slideshow-items > .uk-transition{opacity:0;}
.uk-slideshow-items > :not(.uk-active){display:none;}
.uk-slider{overflow:hidden;width:100%;margin:auto;position:relative;}
.uk-slider-items{display:flex;flex-wrap:nowrap;gap:1.5rem;}
.uk-slider-items > *{width:100%;min-width:100%;}
.uk-responsive-width{max-width:100%;height:auto;}
iframe.uk-responsive-width{max-height:450px;}
.uk-inline{position:relative;}
.uk-dropdown{display:none;position:absolute;z-index:1020;--uk-position-margin-offset:10px;box-sizing:border-box;min-width:100%;max-width:100%;padding:25px;background-color:#fff;color:#666;border:2px solid #000;}
.uk-dropdown a{color:#000;line-height:2;font-family:Helvetica Bold;transition:.25s color;}
.uk-dropdown a:hover{color:#5F9EA0;}
.uk-dropdown.uk-open{display:block;}
.carrusel.uk-slider{position:inherit;}
.carrusel .uk-slider-items > *{max-width:100%;width:calc(80% - 2rem);margin-right:0;min-width:auto;touch-action:pan-y;flex:none;position:relative;}
.contacto_toggle{position:fixed;bottom:2rem;z-index:5;right:2.75rem;transform:scale(0);transition:.25s all;}
.body li { line-height: 1.25; margin-top: .5rem; }
.body li::before {content: '•';margin-right: .5rem;}
.body .uk-dropdown li {line-height: 1;margin: 0!important; }
.body .uk-dropdown li:before {content:none }
@media (min-width: 30rem) {
body{font-size:16px;}
.logo_img{max-width:13rem;}
.carrusel .uk-slider-items[data-child='4'] > *{width:calc(48% - 2rem);}
}
@media (min-width: 50rem) {
.carrusel.uk-slider:not([class*='carrusel_full']){width:calc(100% - 4rem);}
.carrusel .uk-slider-items > *{width:calc(48% - 2rem);}
.carrusel .uk-slider-items[data-child='4'] > *{width:calc(25% - 1rem);}
}
@media (max-width: 799px){
.carrusel.uk-slider{width: calc(100% + 1rem);margin-right: -1rem;}
}
.uk-modal-page,.uk-modal-page body { overflow: hidden!important;}
