.bg_gris { background-color: #f8f8f9; }
.bg_black { background-color: black; color: white; }
.bg_white { background-color: white; }

@media (min-width: 1400px){
    .title_banner { margin-left: -4.5rem; }
}

@media (max-width: 799px){
    .x_desktop { display: contents!important; visibility: visible!important; }
}
@media (min-width: 50rem){
    .x_mobile { display: contents!important; }
}

.sidebar .contents > * { margin-top: .5rem; }
.sidebar ul { width: 100%; }
.sidebar p { line-height: 1.5; }
.sidebar p strong,
.sidebar ul strong {  max-width: 70%; display: inline-block; }
.sidebar .action.cta {
    width: 14rem;
    font-size: 1em;
    padding: .5rem .5rem;
    margin-top: .75rem;
    margin-bottom: .75rem; }
.sidebar .action.cta + .cta { margin-top: 0; }
.action.cta.sp { justify-content: flex-start; }
.action.cta.sp:not(.blue) { letter-spacing: .75px; }
.action.cta.sp svg { margin-right: .75rem; }
@media (max-width: 799px){
    .contents_cta {
        display: flex; justify-content: center; margin-top: .75rem; width: 100%;
        flex-flow: row wrap; }
    .sidebar .contents-wasap {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    }
}
@media (max-width: 1199px) {
    .contents_row > *:not(ul) { width: 48%; }
    .contents_row > ul,
    .contents_row > .acceso { order: 2; width: 100%; }
    .contents_row > .acceso { text-align: center; }
    .sidebar p strong,
    .sidebar ul strong { max-width: 95%; line-height: 1.25; }
    .sidebar .contents-menu { display: none; }
}
@media (min-width: 50rem) {
    .sidebar .block_margins { padding-top: 0; }
}
@media (min-width: 75rem){
    .content_800 > * { width: 54rem!important; margin-left: 0; }
    .content_800 .row > * { max-width: 45%; padding-right: 0; line-height: 1.25; }
    .content_800 .row > figure { max-width: 350px; }
    .content_800 .row > figure.col-55 { max-width: 456px; }
    .n_target .target_presentacion .content_800 .row > * {
        max-width: 60%;
      }

    .sidebar {
        border-left: 1px solid rgba(0,0,0,.75);
        position: absolute!important;
        z-index: 5!important; top: 0; right: 0;
        width: calc(50vw - 22.5rem); height: 100%; }
    .sidebar > * { overflow-y: auto; height: calc(100vh - 5rem); }
    .sidebar .contents:last-child { display: contents; }
    .sidebar .block_titled { display: none; }
    .sidebar .block_margins { padding: 1.5rem; padding-top: 0; border: 0; max-width: 400px; margin-left: 0; }
    .sidebar .contents > * { width: 100%; }
    .sidebar p strong,
    .sidebar ul strong { max-width: 85%; }
    .sidebar ul strong.uk-accordion-title { position: relative; padding-right: 2rem; }

    .bg_gris { background-color: transparent; }
    .bg_gris > * { background-color: #f8f8f9; position: relative; }
    .bg_gris > ::after {
        content: '';
        width: 5rem;
        height: 100%;
        position: absolute;
        background: #f8f8f9;
        left: -5rem;
    }
}

.hero {
    background-color: black;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.subtitle { font-size: 1.5em; }
.subtitled { font-size: 1.25em; margin-bottom: .5rem; }
.subtitle small {
    font-size: 18px;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}
.share_title { margin-top: 1rem; margin-bottom: .5rem; font-size: .875em; font-family: 'Helvetica Bold'; }
.share_title + .menu_rrss > li { margin-right: 1rem; }
.badge {
    background-color: #EAD82B;
    text-transform: uppercase;
    font-size: 40%;
    padding: .25rem;
    color: black;
    position: relative;
    top: -.5rem;
}

@media (min-width:50rem) {
    .subtitle { font-size: 48px; }
    .subtitled { font-size: 1.25em; }

    .order_negative { order: -1; }
}
@media (max-width: 799px){
    .target_presentacion .row { align-items: flex-end; }
    .target_presentacion .row > article { max-width: calc(100% - 6.25rem); }
    .target_presentacion .row figure { width: 6.25rem; }
}

.body { color: #4d4d4d; line-height: 1.25; }
.body_min { font-size: 0.875em; }
.body_max { font-size: 1.125em; }
.body > :not(:first-child),
.body li:not(:first-child)  { margin-top: 1rem; }
.body h2 { font-size: 1.75em; line-height: 1.25; }
.body h3 { font-size: 1.5em; line-height: 1.25; }
.body h4 { font-size: 1.25em; line-height: 1.25; }
@media (min-width: 50rem){
    .body { padding-right: 2rem; }
}

@media (min-width: 75rem) {
    .ev_bienvenido { padding-bottom: 7.5rem; }
    .ev_expositor article { max-width: none; margin-left: 3rem; }
    .ev_expositor figure { max-width: 22.5rem; }
}

.acordion,
.scrollspy {  position: relative; width: 100%; }
.scrollspy {
    padding-left: 1.5rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem;
}
.n_target .acordion::after,
.scrollspy::after {
    width: 3px;
    height: 100%;
    background-color: gray;
    display: block;
    position: absolute;
    top: 0;
    left: .5rem;
}
.scrollspy::after {
    left: 0;
    width: 2px;
}
.acordion_item {
    border-bottom: 1px solid rgba(0,0,0,.25);
}
.acordion_title {
    font-size: 1.25em;
    padding: 1rem 0;
    padding-right: 2.5rem;
    font-family: 'Helvetica Light';
    line-height: 1; position: relative; }
.malla .acordion_title,
.uk-open .acordion_title { font-family: 'Helvetica Bold';}
.scrollspy a {
    display: inline-block;
    position: relative;
    padding: .325rem 0;
    line-height: 1;
    color: black;
}
.n_target .acordion_title::after,
.scrollspy a:after {
    width: 8px;
    height: 16px;
    background-color: dodgerblue;
    position: absolute;
    left: -3.625rem;
    z-index: 2;
    opacity: 0;
}
.scrollspy a::after {
    width: 7px;
    left: -1.625rem;
}
.n_target .uk-open .acordion_title::after,
.scrollspy .uk-active a::after { opacity: 1; }
.acordion_body { padding: .25rem 0 1rem; line-height: 1.5; }
.acordion_body > :not(:first-child) { margin-top: 1rem; }
.acordion_body li {
    padding-left: 1rem;
    position: relative;
  }
.acordion_body li:not(:first-child) { margin-top: .25rem; }
.acordion_body li::before {
    content: '';
    margin: auto;
    width: 7px;
    height: 7px;
    background-color: var(--color-base);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 8px;
  }
  .acordion_body h4 { font-size: 20px; color: var(--color-base); }
.acordion_icon {
    position: absolute;
    margin: auto; height: 1.875rem;
    right: 0; bottom: 0; top: 0;
    transition: .25 transform; }
.uk-open .acordion_icon { transform: rotate(180deg); }
.cta_docentes { margin-top: 2rem; }

.like_acordion li h4 {
    font-family: 'Helvetica Light';
}

@media (min-width: 50rem){
    .acordion { padding-left: 4rem; }
    .scrollspy { padding-left: 1.5rem; }
    .acordion::after,
    .scrollspy::after,
    .acordion_title::after,
    .scrollspy a:after { content: ''; }

    .cta_docentes { margin-left: 4rem; }
}

.sidebar_wasap {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin-top: .5rem!important;
}
.sidebar_wasap span { margin-right: .5rem; }

@media (min-width: 800px) {
    figure.inverso { order: 10; }
    .show figure { flex: auto; margin-bottom: auto; }
    .show figure + article { flex: auto; }
}

@media (min-width: 75rem) {
    .nosotros .slider_img { max-width: 44.5rem; }
    .nosotros .slider_body { max-width: calc(100% - 48rem); }
}

.fuente_nosotros { color: #019BDD; font-family: Helvetica Bold; text-align: center; }
.fuente_nosotros .row { align-content: center; justify-content: center; }
.fuente_nosotros li { justify-content: center; width: 100%; position: relative; }
.fuente_nosotros li:nth-child(3) { align-items: center; }
.fuente_nosotros li:nth-child(1) p { font-size: 1.75em; }
.fuente_nosotros li:nth-child(2) p { font-size: 3.5em; line-height: 1; }
.fuente_nosotros li:nth-child(3) p { font-size: 1.75em; line-height: 1.75; text-align: center; }
.fuente_nosotros img { margin: auto; max-width: 10rem; }
@media (min-width: 50rem) {
    .fuente_nosotros li { width: 33%; }
    .fuente_nosotros li:not(:first-child)::after {
        content: '';
        width: 1px;
        height: 75%;
        position: absolute;
        background-color: rgba(0,0,0,.25);
        left: -2rem; }
      .fuente_nosotros li:nth-child(2) p { font-size: 5em; }
      .fuente_nosotros li:nth-child(3) p { font-size: 2.25em; line-height: 2.5; text-align: left; }
}

.acreditacion .base { border: 0; }
.acreditacion figure { max-width: 14rem; }
@media (min-width: 50rem) {
.acreditacion figure { max-width: 11rem; }
.d_33 .certificacion { margin-bottom: 10rem }
.d_33 .certificacion .row {align-items: center;}
.d_33 .certificacion figure { order: -1; }
.d_33 .certificacion .strokes { top: 95%; }
}

.docentes [class*="svgs_"] svg {
    width: 1.75rem;
    height: 1.75rem;
  }
@media (min-width: 50rem) {
    .conectados .block_content { padding-top: 3.5rem; }
    .conectados .inverso { margin-top: -5rem; }
    .docentes .content_800 .row { align-items: center; }
    .docentes .content_800 .row > * {
        margin-right: 5%;
    }
}

.ev_bienvenido { position: relative; z-index: 2; }
.bienvenido {
    padding-bottom: 7rem;
}
.bienvenido .strokes { top: 70%; }
.admision .action:not(:last-child) { padding-right: 4rem; }
.ev_bienvenido .strokes { top: 75%; }
.beneficios .acordion::after { height: calc(100% + 4rem); top: -4rem; }
@media (min-width: 50rem) {
    .bienvenido { padding-bottom: 5rem; }
    .beneficios .block_titled { margin-left: 4rem; }
    .dirigido, .metodologia { padding-bottom: 5rem; }
}
@media (min-width: 75rem) {
    .conectados .block_titled {
        position: relative;
        top: -1rem;
      }
    .conectados article { position: relative; top: -1.5rem; }
    .conectados article h3 { font-size: 20px; }
    .conectados article p { line-height: 1.25; font-size: 16px; }
}

.dirigido .uk-slider,
.metodologia .uk-slider {
    padding: 0 0 5rem;
}
.dirigido [class*="slider_arrow-"]:not(.uk-invisible),
.metodologia [class*="slider_arrow-"]:not(.uk-invisible) { display: block;}
.dirigido [class*="slider_arrow-"][class*="left"],
.metodologia [class*="slider_arrow-"][class*="left"] {
    left: calc(50% - 2rem) !important;
    top: auto
}
.dirigido [class*="slider_arrow-"][class*="right"],
.metodologia [class*="slider_arrow-"][class*="right"] {
    right: calc(50% - 2rem) !important;
    top: auto
}
@media (min-width: 50rem){
.dirigido .uk-slider,
.metodologia .uk-slider { padding: 0 2rem; }
.dirigido [class*="slider_arrow-"][class*="left"],
.metodologia [class*="slider_arrow-"][class*="left"] {
    left: -.5rem!important; top: 0
}
.dirigido [class*="slider_arrow-"][class*="right"],
.metodologia [class*="slider_arrow-"][class*="right"] {
    right: -.5rem!important; top: 0
}
}
.dirigido span.svgs_play,
.metodologia span.svgs_play {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 56%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
@media (min-width: 75rem) {
    .dirigido .content_800 .row > article,
    .metodologia .content_800 .row > article {
        max-width: 50%;
        padding: 0;
      }
      .dirigido .content_800 .row > figure,
      .metodologia .content_800 .row > figure {
        max-width: 328px;
    }
      .dirigido .uk-slider,
      .metodologia .uk-slider {
        margin-left: -2rem;
        margin-right: -2rem;
        width: 58rem!important;
      }
}
.linkedin_summary { display: inline-block;margin-top: 1rem; }
.diferencias .base img {
    max-width: 224px;
}
.propisitos .block_body p {
    font-size: 1.15em;
}
@media (min-width: 30rem){
.propisitos .block_body p {
    font-size: 1.35em;
}
}

.text-align-justify { text-align: justify!important; }

.action.action_play {
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    bottom: 0;
    margin: auto;
    right: 0;
  }
  .piramide {
    padding-bottom: 7rem;
  }
  @media (min-width: 50rem) {
  .piramide {
    padding-bottom: 17rem;
  }
}

.dirigido .row,
.metodologia .row {
    align-items: center;
}

.open-malla {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    transition: .25s opacity;
}
figure:hover .open-malla {
    opacity: 1;
}
.open-malla span {
  background-color: white;
  font-family: Helvetica Bold, Arial, Helvetica, sans-serif;
  padding: .5rem 1rem;
  border: 3px solid black;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 0 0 black;
  transition: .25s box-shadow;
}
figure:hover .open-malla span {
  box-shadow: 0 0 0 .5rem black;
}
.zoom .malla-figure  {
    width: 100%;
    height: 100%;
}

.eventos .content_800 .row > * {
    max-width: 100%;
  }
.eventos .carrusel { font-size: 20px; }
.evento_link{padding:1rem;background-color:var(--evento-color);display:flex;color:#FFF;align-items:center;min-width:100%;padding:0 .5rem;padding-right:2rem;min-height:5.5rem;outline:0 solid var(--evento-color);transition: .25s outline;}
.evento_link:hover{outline:.5rem solid var(--evento-color);}
.evento_date{font-family:'Helvetica Bold';display:flex;flex-flow:column;text-align:center;line-height:1;font-size:.875em;margin-right:2rem;position:relative;}
.evento_date::after{width:2px;height:100%;position:absolute;background-color:#FFF;right:-1rem;top:0;content:'';}
.evento_date > :last-child{font-size:2.25em;}
.evento_cuerpo{font-size:.75em;line-height: 1;}
.evento_cuerpo > :first-child{display:block;line-height:1;margin-bottom:.25rem;font-family:Helvetica Bold;}
.evento_link [class*="svgs_"]{position:absolute;right:1rem;transition:.25s right;}
.evento_link [class*="svgs_"] svg{stroke:#FFF;stroke-width:2px;}
.evento_link:hover [class*="svgs_"]{right:.5rem;}
@media (min-width: 30rem) {
    .evento_link{min-height: 6.5rem; padding: .375rem .75rem; padding-right: 3rem;}
    }
