.defs-only { opacity:0; position: fixed; top:-1000%; left: -1000%; width: 0; height: 0; }
body.authenticated { padding-top: 160px!important; }
.authenticated .utp_header { top: 80px; }
html.loaded,
    html.x_administrator,
    html.x_editor {
        overflow-y: auto;
    }

.tasks { justify-content: center; }
.task { text-align: center; flex: 0; margin: 0 .25rem; }
.task_link {
    background-color: #ddd;
    color: black; font-weight: 700;
    padding: 0.5rem;
    display: inline-block;
    width: auto; }

.uk-alert{position:relative;padding:calc(1 * 1rem) 2rem calc(1 * 1rem) calc(1 * 1rem);background:#f8f8f8;color:#666}
*+.uk-alert{margin-top:20px}
.uk-alert>:last-child{margin-bottom:0}
.uk-alert-close{position:absolute;top:20px;right:calc(1 * 1rem);color:inherit;opacity:0.4}
.uk-alert-close:first-child+*{margin-top:0}
.uk-alert-close:hover,
.uk-alert-close:focus{color:inherit;opacity:0.8}
.uk-alert-primary{background:#d8eafc;color:var(--c-lila)}
.uk-alert-success{background:#edfbf6;color:#32d296}
.uk-alert-warning{background:#fff6ee;color:#faa05a}
.uk-alert-danger{background:#fef4f6;color:#f0506e}
.uk-alert h1,
.uk-alert h2,
.uk-alert h3,
.uk-alert h4,
.uk-alert h5,
.uk-alert h6{color:inherit}
.uk-alert a:not([class]){color:inherit;text-decoration:underline}
.uk-alert a:not([class]):hover{color:inherit;text-decoration:underline}