.vista:not(:first-child) .space {
    padding-top: 0;
    border-top: 0;
}

.trio { max-width: 100%; }

@media (max-width: 799px) {
    .trio .row > * { max-width: calc(50% - 1rem); height: 100%; margin-top: 0; margin-bottom: 2rem; }
    .w_docentes .trio .row > * { max-width: 25rem; }
}
@media (min-width: 50rem) {
    .trio .row.x_desktop { align-items: initial; }
    .trio .row > * { max-width: calc(33% - 2rem); height: auto; }
    .w_docentes .trio .row > * { max-width: calc(33% - 1rem); }
}

.vista_img { overflow: hidden; margin-bottom: .5rem; }
.vista_link:hover .imagen { transform: scale(1.1); }
.vista_abbr { font-size: 2em; }
.vista_title { font-family: 'Helvetica Light'; font-size: 1em; color: black; line-height: 1.25; }

@media (min-width: 50rem) {
    .vista_abbr { font-size: 3em; }
    .vista_title { font-size: 1.75em; }
}

.expuesto .space {
    padding-top: 0;
    border: 0;
    padding-bottom: 0;
}

.view_box { border: 2px solid #dbdbdb; height: 100%; background-color: white; }
.view_body { border-top: 0; padding: 1.5rem; }
.view_title { font-size: 1.25em; margin-bottom: .75rem; position: relative; padding-right: 2.5rem; }
.view_body p { color: #4d4d4d; line-height: 1.5; }
.view_title a {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 30px;
    margin: auto;
}

@media (min-width: 800px){
    .trio_items:last-child {
        position: relative;
        padding-bottom: 8rem;
    }
    .pagers{
        margin-bottom: 10rem;
        margin-top: -3rem;
    }
    }

    .trio [class*="svgs_"] svg {
        width: 1.75rem;
        height: 1.75rem;
    }
