:root{--evento-color:black;}
.slider_body{padding-top:0;}
.hm_carrusel .block_margins {padding-top:1.75rem;padding-bottom: 1.75rem;}
.carrusel.uk-slider:not([class*="carrusel_full"]){padding:1rem 0;}
.carrusel.uk-slider:not([class*='carrusel_full'])::after{background-image:linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,.5) 55%, rgb(255, 255, 255) 100%);width:2rem;height:100%;position:absolute;top:0;right:0;}
.evento_link{padding:1rem;background-color:var(--evento-color);display:flex;color:#FFF;align-items:center;min-width:100%;padding:0 .5rem;padding-right:2rem;min-height:5.5rem;outline:0 solid var(--evento-color);transition: .25s outline;}
.evento_link:hover{outline:.5rem solid var(--evento-color);}
.evento_date{font-family:'Helvetica Bold';display:flex;flex-flow:column;text-align:center;line-height:1;font-size:.875em;margin-right:2rem;position:relative;}
.evento_date::after{width:2px;height:100%;position:absolute;background-color:#FFF;right:-1rem;top:0;content:'';}
.evento_date > :last-child{font-size:2.25em;}
.evento_cuerpo{font-size:.75em;line-height: 1;}
.evento_cuerpo > :first-child{display:block;line-height:1;margin-bottom:.25rem;font-family:Helvetica Bold;}
.evento_link [class*="svgs_"]{position:absolute;right:1rem;transition:.25s right;}
.evento_link [class*="svgs_"] svg{stroke:#FFF;stroke-width:2px;}
.evento_link:hover [class*="svgs_"]{right:.5rem;}
.hm_comments .block_margins{padding-top:0;}
.acordion{position:relative;width:100%;}
.acordion_item{border-bottom:1px solid rgba(0,0,0,.25);}
.acordion_title{padding:1.5rem 0;padding-right:2.5rem;font-family:Helvetica Bold;line-height:1;position:relative;}
.acordion_title h4{font-size:1.75em;margin-bottom:1.5rem;font-family:'Helvetica Light';color:#585858;transition:.25s color;}
.uk-open .acordion_title h4{font-family:'Helvetica Bold';color:#000;}
.acordion_icon polyline{stroke:gray;transition:.25s stroke;}
.uk-open .acordion_icon polyline{stroke:#000;stroke-width:2px;}
.acordion_title strong{display:inline-block;font-size:13px;max-width:100%;color:#585858;transition:.25s max-width;}
.acordion_body{padding:.25rem 0 1rem;line-height:1.5;}
.acordion_icon{position:absolute;margin:auto;height:1.875rem;right:1.25rem;bottom:0;top:0;transition:.25s transform;}
.uk-open .acordion_icon{transform:rotate(180deg);}
.acordion_body figure{max-width:32rem;}
.blockquotes figure{max-width:31.75rem;width:100%;}
.blockquotes article{width:100%;}
.blockquotes h4{color:#4d4d4d;font-size:1.25em;margin-bottom:.5rem;}
.blockquotes p{font-size:14px; color: #4d4d4d; }
.blockquotes blockquote{margin-bottom:1rem;margin-top:1rem;font-family:'Helvetica Bold';font-size:1.125em;}
.filtrado_legend{font-size:1.5em;border-bottom:1px solid #969696;max-width:28rem;padding:0 0 .5rem;margin-bottom:2rem;margin-top:3rem;}
.searching > *{min-width:100%;}
.encontrado > ul > li{margin-bottom:2rem;}
h5.uk-accordion-title{font-size:1.125em;margin-bottom:.25rem;position:relative;}
h5.uk-accordion-title span:last-child{display:none;}
.encontrado a{font-size:1em;color:#000;line-height:1;padding:.5rem 0;padding-right:2rem;display:block;border-bottom:1px solid #999;position:relative;}
.encontrado a span{position:absolute;right:0;top:0;width:1.25rem;height:1.25rem;display:block;margin:auto;bottom:0;transition:.25s right;}
.encontrado a:hover span{right:1rem;}
.encontrado a svg { stroke: #999!important; }
@media (min-width: 30rem) {
.evento_link{min-height: 6.5rem; padding: .375rem .75rem; padding-right: 3rem;}
}
@media (min-width: 75rem) {
.front .slider_body{padding-top:2rem;}
.front .slider_img{max-width:27rem;max-height:18.75rem;margin-right:7rem;margin-top:2.5rem;}
.slider .uk-dotnav{bottom:1.75rem;right:7rem;}
.row.full > .encontrado{margin-top:-3.5rem;max-width:44%;margin-right:4.5%;}
.transformamos figure{max-width:84%;}
.acordion_title strong{font-size:1em;}
.acordion_icon{right: 2.25rem;}
.hm_comments .acordion_icon { right: 0; top: -2rem; }
.blockquotes figure{margin-right:1%;}
.encontrado a{font-size:1.125em;}
}
@media (min-width: 50rem) {
.carrusel.uk-slider:not([class*='carrusel_full'])::after{content:'';right:2rem;}
.uk-open .acordion_title strong{max-width:15rem;}
.acordion_body .row{padding-right:5rem;}
.acordion_body figure{order:1;transform:translateY(0);transition:.25s transform;margin-right:-0.5rem;}
.blockquotes figure{order:1;width:auto;}
.blockquotes p{font-size:16px;}
.blockquotes article{display:flex;flex-direction:column;width:auto;}
.blockquotes blockquote{order:-1;margin-top:0;margin-bottom:24px;font-size:28px;max-width:75%;}
.searching > *{min-width:0;max-width:48%;}
h5.uk-accordion-title{pointer-events:none;}
h5 + .uk-accordion-content{overflow:visible!important;height:100%!important;display:block!important;}
}
@media (min-width: 75rem) {
.evento_date{font-size:1.25em;}
.evento_cuerpo > :first-child{font-size:1.5em;}
.uk-open .acordion_title strong{max-width:22.5rem;}
.acordion_body .row{padding-right:7rem;}
.uk-open .acordion_body figure{transform:translateY(-5rem);}
.acordion_body figure + article{max-width:40%;}
.hm_testimonios .block_margins{padding-top:1.25rem;}
.hm_testimonios .cabecera{position:relative;transform:translateY(2rem);margin:0;}
.blockquotes article{padding-top:3rem;}
}
@media (max-width: 799px) {
.acordion_body article{margin-top:1.5rem;}
.blockquotes > *:not(a){min-height:600px!important;}
.blockquotes img{max-height:300px;width:100%;}
.blockquotes article{margin-top:1.5rem;}
.blockquotes [class*="slider_arrow-"] {top: auto;min-height: 2rem;bottom: -1rem;display: inline-block;}
.blockquotes [class*="slider_arrow-"][class*="left"] {left: calc(50% - 3rem);}
.blockquotes [class*="slider_arrow-"][class*="right"] {right: calc(50% - 3rem);}
.filtrado_programa,.filtrado_modalidad{display:none;}
h5.uk-accordion-title{border-bottom:1px solid #969696;padding-bottom:.25rem;}
h5.uk-accordion-title span:last-child{width:1.5rem;height:1.5rem;display:block;position:absolute;right:0;top:0;bottom:0;margin:auto;transform:rotate(0);transition:.25s transform;}
.uk-open h5.uk-accordion-title span:last-child{transform:rotate(180deg);}
}
