.modal_menu-desktop{margin-top:4.9rem;padding:0;}
.modal-header > :not(.uk-modal-close){display:none;}
.modal_menu-desktop .uk-modal-close{position:absolute;top:0;left:.5rem;margin:0;opacity:1;transform:scale(.75);transition:.25s transform;}
.modal_menu-desktop .uk-modal-close:hover{transform:scale(.8);}
.modal_menu-desktop .copy-header{display:none;}
.modal-body{min-height:calc(100vh - 15rem);margin-bottom:3rem;}
.modal_menu-desktop .uk-modal-body{margin-right:0;width:calc(2.5vw + 40rem);min-height:100%;padding:2rem;}
.modal_menu-desktop .modal-footer{display:flex;justify-content:space-between;align-items:center;font-size:12px;}
.modal-footer .menu_rrss svg{width:20px;margin-left:.5rem;}
.modal-footer .menu_rrss [class*="svgs_"][class*="youtube"] svg{width:24px;}
.footer_modal-intercorp img{width:10rem;}
.submenu_desktop{line-height:1.5;}
.submenu_desktop-link{color:#000;font-size:1.125em;line-height:1;display:inline-block;padding:.5rem 0;position:relative;}
.submenu_desktop-title{font-size:17px;color:#000;font-family:Helvetica Bold;display:inline-block;margin-bottom:.75rem;letter-spacing:.03em;}
.submenu_desktop-submenu{border-bottom:1px solid rgba(0,0,0,.5);padding-bottom:1rem;margin-bottom:1rem;position:relative;}
.submenu_desktop-link::after,.submenu_desktop-submenu a::after{content:'';width:100%;height:0;background-color:#777;position:absolute;bottom:0;left:0;transition:.25s height;}
.submenu_desktop-link.is-active::after,.submenu_desktop-submenu a.is-active::after{height:1px;}
.submenu_desktop-link:hover::after,.submenu_desktop-submenu a:hover::after{height:2px;}
.sec_intercorp{margin-top:3rem;display:inline-block;}
.sec_intercorp img{max-width:100%;}
/* FORMULARIO */
.form-items > .form-item:not(:first-child){margin-top:.5rem;}
.form-input{width:100%;border:1px solid #000;padding:.5rem;font-family:inherit;color:#000;font-size:18px;background-color:#FFF;}
.form-input::placeholder {color: black;opacity: 1;}
.form-msg{font-size:10px;line-height:1;}
.form-flex {display: flex;flex-flow: row wrap;justify-content: space-between;align-items: flex-start;margin-top: .5rem;}
.form-flex > * {width: calc(50% - 1px);}
.form-item::after {content: attr(data-mensaje);font-size: 11px;line-height: 1;display: none;text-align: right;color: #FF4E44;}
.form-item.form-error::after { display: block; }
.form-item.form-error::placeholder, .checkbox.form-item.form-error label {color: #FF4E44;}
.checkbox.form-item.form-error::after { text-align: left; padding-left: 2rem;}
.selects {position: relative;}
select.form-input {-webkit-appearance: none;padding-right: 2rem;}
.selects span {position: absolute;width: 20px;height: 20px;right: .5rem;top: 12px;margin: auto;}
.checkbox{font-size:1.25em;position:relative;margin-bottom:1rem;}
.checkbox input{display:none;}
.checkbox label{padding-left:2.5rem;}
.checkbox label::before{content:'';width:1.5rem;height:1.5rem;border:1px solid #000;display:block;position:absolute;left:0;top:0;margin:auto;bottom:0;transition:.25s background-color;}
.checkbox input:checked + label::before{background-color:#000;}
.checkbox label::after{content:'';width:.5rem;height:1rem;border-bottom:1px solid transparent;border-right:1px solid transparent;display:block;position:absolute;left:.5rem;top:0;bottom:0;margin:auto;transform:rotate(45deg);transition:.25 border-color;}
.checkbox input:checked + label::after{border-color:#FFF;}
.form-item.checkbox label::before,.form-item.checkbox label::after{bottom:auto;}
.form-item.checkbox label::before{transform: scale(.85);transform-origin: left top;}
.form-item.checkbox label::after{transform: scale(.85) rotate(45deg);}
.form-item.checkbox .form-check-title{font-size:14px;display:inline-block;line-height: 1;padding-left: 2rem;}
.form-item.checkbox .form-check-title a{color:#000;border-bottom:1px solid #000;}
.modal_menu-mobile{padding:0;margin-top:0;}
.modal_menu-mobile .uk-modal-body{width:100%;height:100%;padding:0;border-top:1px solid #000;}
.menu_mobile li{width:100%;}
.menu_mobile button,.menu_mobile li > span,.menu_mobile li > a:not(.action){width:100%;background-color:transparent;border:0;color:#000;font-family:'Helvetica Light';text-align:left;font-size:1.25em;line-height:1;padding:.5rem 0;display:block;}
.menu_mobile .action{display:inline-block;width:auto;padding:.5rem 1rem .65rem;line-height:1.25;margin-top:.75rem;}
.copy-header{display:flex;justify-content:center;width:100%;padding:.5rem 1rem;margin:auto;position:relative;align-items:center;border-bottom:1px solid #000;height:56px;}
.copy-header button{position:absolute;left:1rem!important;top:.5rem!important;transform:none!important;}
.modal_menu-mobile .modal-body{padding:2rem;}
/* BOTON FLOTANTE*/
.call_contacto{display:block;bottom:2rem;z-index:5;right:2rem;display:flex;flex-flow:column wrap;justify-content:center;align-items:center;height:4rem;width:4rem;font-size:11px;color:#FFF;background-color:#000;border:0;clip-path:polygon(20% 0%,80% 0%,100% 20%,100% 80%,80% 100%,20% 100%,0% 80%,0% 20%);}
.call_contacto [class*='close'],.call_contacto[aria-expanded="true"] [class*='chat']{display:none;}
.call_contacto[aria-expanded="true"] [class*='close']{display:inline-flex;}
.call_contacto small{margin-top:.25rem;}
.call_contacto svg,.contacto_toggle svg{fill:#FFF;}
.menu_more{display:inline-block;margin-top:.5rem;font-family:'Helvetica Bold';}
.flecha{position:relative;left:-6px;margin-right:.5rem;transition:.25s left;}
.action:hover .flecha{left:3px;}
[class*="slider_arrow-"]{width:2rem;height:2rem;position:absolute;top:0;bottom:0;display:none;transition:.25s opacity;margin:auto;}
[class*="slider_arrow-"].uk-invisible{opacity:0;}
[class*="slider_arrow-"][class*="left"]{left:0;}
[class*="slider_arrow-"][class*="right"]{right:0;}
[class*="slider_arrow-"] svg polyline{stroke:#cacaca;stroke-width:2px;transition:.25s stroke;}
[class*="slider_arrow-"]:hover svg polyline{stroke:#000;}
.uk-dotnav{position:absolute;bottom:1.25rem;right:2rem;width:27rem;justify-content:center;}
.uk-dotnav > *{flex:none;margin:0 .5rem;}
.uk-dotnav a{display:block;text-indent:100%;overflow:hidden;white-space:nowrap;height:.5rem;width:3.5rem;border-radius:0;border:0;background-color:#cacaca;transition:.25s background-color;}
.uk-dotnav > .uk-active > *{background-color:#000;border-color:transparent;}
.menu_rrss [uk-icon*="linkedin"] svg{background-color:#000;fill:#FFF;border-radius:3px;padding:3px;}
.menu_rrss [uk-icon*="facebook"] svg{background-color:#000;fill:#FFF;border-radius:50%;padding:2px;}
.modal-body .block_content{display:contents;}
.buscador{width:100%;position:relative;}
.modal-body .buscador{max-width:100%;}
.input_search{border:0;border-bottom:1px solid #000;width:100%;font-family:inherit;font-size:1em;padding:.5rem;padding-right:4rem;}
.input_search-submit{position:absolute;right:0;top:.25rem;bottom:.25rem;margin:auto;border:0;background-color:transparent;text-indent:-9999em;width:3rem;border-left:1px solid #cacaca;z-index:1;}
.input_search-submit + span{position:absolute;right:.75rem;top:0;bottom:0;margin:auto;height:1.5rem;z-index:0;}
.video_modal > *{padding:0;width:80%;height:100%;background-color:transparent;display:flex;justify-content:center;align-items:center;}
.video_modal iframe{width:100%;height:auto;border:0;max-height:100%!important;}
.video_modal button{position:absolute;top:0;right:-4rem;}
.video_modal path{stroke:#FFF;}
.p_buscador [class*="view"]{width:100%;}
.p_buscador [class*="view"] header{margin-bottom:2rem;font-size:1.25em;}
.p_buscador [class*="view"] .views-row{margin-bottom:1rem;border-bottom:1px solid gray;padding-bottom:1rem;}
.title_buscador{font-size:1.5em;line-height:1.25;margin-bottom:1rem;}
.title_buscador a{color:#5695D7;}
/* PAGER */
.pager__items{float:right;margin-top:2rem;max-width:360px;}
.pager__item{max-width:2rem;width:2rem;margin-top:0!important;}
.pager__item a{color:gray;font-size:1.25em;font-family:'Helvetica Bold';text-align:center;display:inline-flex;min-width:2rem;border-bottom:2px solid transparent;line-height:35px;transition:.25s all;height:35px;justify-content:center;align-items: center;}
.pager__item a:hover,.pager__item.is-active a,.pager__item a.is-active{color:#000;border-bottom-color:#000;}
.pager__item.pager__sep {max-width: 1rem;width: 1rem;}
/* flotador */
.contacto_toggle li{width:2.5rem;height:2.5rem;margin-top:.5rem;}
.contacto_toggle li a{display:inline-flex;justify-content:center;align-items:center;width:100%;height:100%;background-color:#000;color:#FFF;padding:.5rem;border-radius:50%;}
.contacto_toggle li a:not([uk-icon*='whats']) path{stroke:#FFF;}
.contacto_toggle li a[uk-icon*='whats'] path{fill:#FFF;}
[aria-expanded="true"] + .contacto_toggle{transform:scale(1);bottom:7rem;}
.form-error input,
.form-error select{border-color:#FF4E44;background-color:rgba(255,232,217,0.29);}
.form-msg{display:none;width:100%;text-align:right;color:#FF4E44;}
.form-error .form-msg{display:block;}
.fx-relay-email-input-wrapper{display:contents;}
/* MEDIA QUERIES */
@media (min-width: 800px) {
[class*="slider_arrow-"]{display:block;}
[class*="slider_arrow-"][class*="left"]{left:-.25rem;}
[class*="slider_arrow-"][class*="right"]{right:-.25rem;}
.hm_testimonios [class*="slider_arrow-"]{left:40%;right:auto;top:3rem;}
.hm_testimonios [class*="slider_arrow-"][class*="right"]{left:45%;}
}
@media (min-width: 1024px) {
.modal_menu-desktop .uk-modal-close{left:2rem;}
.modal_menu-desktop .uk-modal-body{width:calc(2.5vw + 48rem);padding:2rem 2.5vw 2rem 5rem;}
}
@media (min-width: 1200px) {
.modal_menu-desktop .uk-modal-body{width:calc(2.5vw + 49rem);}
.modal-body .buscador{max-width:69%;}
}
@media (min-width: 1600px) {
.modal_menu-desktop .uk-modal-body{width:calc(calc(50vw - 800px) + 59rem);padding:3rem 14vw 2rem 3rem;}
}
@media (max-width: 799px) {
.modal_menu-desktop .copy-header{display:flex;}
.modal_menu-desktop .modal-header,.modal_menu-desktop .modal-footer{display:none;}
.modal_menu-desktop{margin-top:0;padding:0;}
.modal_menu-desktop .uk-modal-body{margin:auto;width:100%;padding:0;}
.modal_menu-desktop:not(.desktop_mobile) .modal-body{padding:1rem;}
.desktop_mobile .modal-body{padding:1rem 0 2rem;}
.desktop_mobile[id*="insti"] .modal-body{padding:1rem 2rem 2rem;}
.submenu_desktop-title{display:none;}
.desktop_mobile .submenu_desktop-title{border-bottom:1px solid rgba(0,0,0,.5);display:block;padding:0 2rem 1rem;}
.submenu_desktop-submenu{padding:0 2rem 1rem 3rem;line-height:1.25;}
.submenu_desktop-link{font-size:1em;}
.uk-dotnav{right: 0;left: 0;width: 100%;transform: scale(.85);}
.video_modal > * {width: 100%;}
.video_modal > * iframe {min-height: 400px;}
.video_modal button {right: 0;top: 2rem;}
}
/* GRACIAS */
.form_title_solicita { display: none;}
.gracias {display:none;font-size: 18px;line-height: 1.5;}
.gracias > :not(:last-child) {margin-bottom: 1rem;}
.utp_footer-subscripcion .gracias { border-top: 1px solid #999;margin-top: 1rem;padding-top: 1rem;font-size: 16px; }
.utp_footer-subscripcion .gracias > :not(:last-child) {margin-bottom: 0;}
