main { position: relative; }
main > *,
.section { position: relative; z-index: 1; }

[class*=uk-animation-] {
    animation:.5s ease-out both
   }
   .uk-animation-fade {
    animation-name:uk-fade;
    animation-duration:.8s;
    animation-timing-function:linear
   }
   @keyframes uk-fade {
    0% {
     opacity:0
    }
    100% {
     opacity:1
    }
   }

.contents { display: contents; }

.block_content {
    max-width: 1150px; margin: auto; width: calc(100% - 2rem)!important;
    display: flex; flex-flow: row wrap;
    justify-content: space-between; align-items: center;
    margin-left: 1rem; margin-right: 1rem; position: relative; z-index: 1; }

.contents_row,
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.centered { align-items: center; }
.contents_header { display: flex; align-items: center; margin-bottom: 2rem; }
.contents_header > *,
.contents_header > h3,
.contents_header > a { margin: 0; margin-right: 1.5rem; margin-top: 0; width: auto; }

@media (min-width: 50rem) {
    .block_content {
        padding-left: 1rem; padding-right: 1rem; width: 100%!important;
        margin-left: auto; margin-right: auto; }
}
@media (min-width: 80rem) {
    .block_content { padding-left: 0; padding-right: 0; }
}
@media (max-width: 799px) {
    .row > *:not(:first-child) { margin-top: 1.5rem; }
    .contents_row > *:not(ul) { width: 48%; }
    .contents_row > ul { order: 2; }
    .contents_cta { display: flex; justify-content: center; margin-top: .75rem; }
    .sidebar p strong, .sidebar ul strong { max-width: 95%; }
}
@media (min-width: 50rem) {
    .contents_row { display: contents; }
    .row > * { flex: 1; max-width: 48%; }
    .row > .col-flex { flex: inherit; }
    .row > .col-40 { max-width: 40%; }
    .row > .col-55 { max-width: 55%; }
    .row_invert > figure { order: -1; }
    .row.full > * { max-width: 100%; }
    .row.fully > * { width: 100%; max-width: 85%!important; flex: auto; }

    .centered > * { width: auto; }

    .parents { justify-content: stretch; align-items: stretch; }
    .parents > * { margin: 0 2rem; flex-direction: column; display: flex; }
    .parents > :first-child { margin-left: 0; }
    .parents > :last-child { margin-right: 0; }

    [data-child='4'] > * { min-width: calc(25% - 4rem); }
    [data-child='4'] > :nth-child(4n+1) { margin-left: 0; }
    [data-child='4'] > :nth-child(4n+4) { margin-right: 0; }
    [data-child='4'] > :nth-child(n+5) { margin-top: 3rem; }
}

.menu_row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.imagen {
    max-width: 100%;
    height: auto;
    transition: 1s transform;
}
@media (max-width: 799px) {
figure { width: 100%; }
.imagen {
    max-width: 480px;
    width: 100%;
}
}

.only_desktop,
.only_desktop_flex { display: none!important; }
@media (min-width: 50rem) {
    .only_mobile { display: none!important; }
    .only_desktop { display: block!important; }
    .only_desktop_flex { display: inline-flex !important; }
}

/* HEADER */
.utp_header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.utp_header-main { padding: .5rem 0; max-width: 1300px; }
.main_button {
    width: 40px;
    margin: 0 0.5rem;
    height: 40px; cursor: pointer;
}
.utp_header-mobile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hamburger { order: -1; }
.main_intercorp { display: none; }
.main_intercorp img { width: 12rem; }
.utp_header-desktop { display: none; }
@media (min-width: 30rem) {
    .utp_header-main { padding: 1rem 0; }
}
@media (min-width: 50rem) {
    .utp_header-main { padding-left: 1rem; padding-right: 1rem; }
    .utp_header-mobile { width: auto; }
    .utp_header-mobile .main_button { display: none; }
    .utp_header-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 75rem) {
    .main_intercorp {
        display: block;
        position: relative;
        padding-left: 1rem;
    }
    .main_intercorp::after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: black;
        position: absolute;
        left: 0;
        top: 0;
    }
}
@media (min-width: 80rem) {
    .utp_header-main { padding-left: 0; padding-right: 0; }
}
.menu_desktop > li {
    margin: 0 0.75rem;
    line-height: 1;
    transition: .25s opacity;
}
.menu_desktop > li:hover { opacity: .75; }

.menu_desktop-button,
.menu_desktop-link {
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 14px;
    font-style: inherit;
    font-family: 'Helvetica Light';
    cursor: pointer;
}
.menu_desktop > li > [aria-expanded='true'],
.first_li--active-trail > * { font-family: Helvetica Bold; }
.menu_desktop > li:nth-child(2) > [aria-expanded='true'],
.first_li--active-trail:nth-child(2) > * { color: #5695D7; }
.menu_desktop > li:nth-child(3) > [aria-expanded='true'],
.first_li--active-trail:nth-child(3) > * { color: #C86922; }
.uk-modal-page .menu_desktop > li > *:not([aria-expanded='true']) {
    font-family: 'Helvetica Light'; color: inherit;
}

.action {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: .5rem .75rem; padding-left: 1.25rem;
    font-size: 1.125em;
    font-family: Helvetica Bold, Arial, Helvetica, sans-serif;
    background-color: transparent;
    margin-top: 1.5rem;
    color: black; background-color: white;
    transition: .25s box-shadow;
    box-shadow: 0 0 0 0 black; }
.action.blue { border-color: dodgerblue; background-color: dodgerblue; color: white; }
.action:hover { box-shadow: 0 0 0 .5rem black; }
.action.blue:hover { box-shadow: 0 0 0 .5rem dodgerblue; }
.action.blanco { border-color: white; background-color: white; }
.action.blanco:hover { box-shadow: 0 0 0 .5rem white; }
.action.negro { background-color: black; color: white; }
.action.cta svg { margin-right: .5rem; }
.action.cta svg polygon { stroke: white; fill: white; }
.action.negro .flecha svg { fill: white; }
.action.negro .flecha::before { background-color: white; }
.action.cta { padding: .5rem 1rem; }

.menu_desktop .action {
    background-color: black;
    color: white!important;
    border: 0.5rem solid black;
    font-size: 14px;
    margin: auto;
    padding: 0;
    cursor: pointer;
}

/* MAIN */
.block_margins {
    border-top: 1px solid rgba(0,0,0,.25);
    padding-top: 1.5rem; padding-bottom: 1.5rem; }
.block_margins_min { padding-top: 1rem; padding-bottom: 1rem; }
.bg_gris .block_margins,
.bg_gris + section .block_margins,
section:first-child .block_margins { border-top: 0; }

@media (min-width: 50rem) {
    .block_margins { padding-top: 2.75rem; padding-bottom: 2.75rem; }
    .block_margins_min { padding-top: 1.75rem; padding-bottom: 1.75rem; }
}

.title {
    font-size: 2em; line-height: 1.25;
    display: flex; flex-flow: wrap column; }

.block_title,
.block_titled { font-size: 2em; line-height: 1.125; margin-bottom: 2rem;  width: 100%; }
.block_titled { font-size: 1.75em; }
.block_title h3,
.block_titled h3 { font-size: inherit; }
.block_title .action { margin-top: auto; margin-left: 2rem; }
article.block_title { margin-bottom: 0; }
.cabecera { margin-bottom: 2rem; }
.cabecera .block_title { margin-bottom: 0; }
.cabecera > *:not(:first-child) { margin-top: 1rem; }
@media (min-width: 37.5rem) {
    .title { font-size: 48px; line-height: 56px; }
}
@media (min-width: 50rem) {
    .target_presentacion .block_margins {padding-top: 30px;
        padding-bottom: 40px;}
    .block_title,
    .block_titled { font-size: 2.5em; margin-bottom: 1.75rem; width: 100%; }
    .cabecera { margin-bottom: 3rem; }
    .cabecera > *:not(:first-child) { margin-top: 0; }
    .cabecera_mobile { display: none; }

    .block_figure { max-width: 33rem; order: 2; margin-left: 3rem; }
    .invertir .block_figure { order: -1;}
}
@media (min-width: 75rem) {
    .block_title { margin-bottom: 3rem; }
    .block_titled { font-size: 2em; width: 85%; }
}
@media (max-width: 799px) {
    .cabecera_mobile + .row .block_figure + .block_body .block_title { display: none; }
}

.icono .block_figure {
    max-width: none;
    margin-left: 0;
    margin-bottom: .5rem;
}

.block_view > * { position: relative; width: 100%; }

/* SLIDER */
.slider_body { padding: 0 0 2rem; }
@media (max-width: 799px) {
    .slider .uk-slideshow-items { min-height: 750px!important; }
    body:not(.front) .slider_body { max-width: 80%; }
}
@media (max-width: 599px) {
    .slider .uk-slideshow-items { min-height: 640px!important; }
}
@media (min-width: 50rem) {
    .slider_body { padding-top: 3rem; }
    .slider_img {
        display: block;
        max-width: 36rem;
        max-height: 25.5rem;
        order: 1;
    }
    .front .slider_img { max-width: 27rem; max-height: 18.75rem; margin-right: 2rem; }

    .slider:first-child .block_margins { padding-top: 2.5rem; }
}

.base { border-bottom: 1px solid rgba(0,0,0,.25); padding-bottom: 1rem; height: 100%; width: 100%; }
.base > *:not(:first-child):not(p) { margin-top: 1rem; }
.base h4 { font-size: 1.75em; line-height: 1.125; }
.base h4 span { font-size: 150%; }
.base p { width: 95%; margin-top: .75rem; }

.block_title + .block_body { margin-top: 1rem; }
.block_body p { line-height: 1.5; font-size: 1em; }
.block_body h4 { line-height: 1.5; margin-top: 1rem; font-size: 1.25em; }
.body img { max-width: 100%; height: auto; }

@media (min-width: 30rem) {
    .block_title + .block_body { margin-top: 0; }

    .columna { display: flex; justify-content: space-between; align-items: center; }
    .columna > * { max-width: 48%; flex: 1; }
}
@media (min-width: 50rem) {
    .base > *:not(:first-child):not(p) { margin-top: 2rem; }
    .base p { width: 80%; margin-top: 1.25rem; line-height: 1.5; }
    .block_body p { line-height: 1.5; font-size: 1.125em; }
}

/* FOOTER */
.utp_footer > .block_content {
    border-top: 1px solid black;
}
.utp_footer a {
    display: inline-block;
    transition: .25s color;
    color: black;
}
.utp_footer a:hover {
    color: peru;
}

.utp_footer-data,
.utp_footer-menu {
    align-items: flex-start;
    line-height: 1.5;
}
.utp_footer-data > * {
    width: 100%;
    text-align: center;
    word-break: break-word;
}

@media (min-width: 50rem) {
    .utp_footer-data > * {
        width: 50%;
        text-align: inherit;
        position: relative;
        margin-bottom: 2rem; }

}
@media (min-width: 1200px) {
    .utp_footer-data > * {
        width: 25%;
        padding-right: 2.5rem;
        margin-bottom: 0; }
    .utp_footer-data > :not(:last-child)::after {
        content: '';
        width: 1px;
        height: 5rem;
        background-color: black;
        position: absolute;
        top: 2rem;
        right: 1.25rem;
    }

    .utp_footer-subscripcion > .block_body {
        margin-right: 6%;
        min-width: 50%;
    }
}
@media (max-width: 799px) {
    .utp_footer-data > *:not(:first-child) { margin-top: 3rem; }
}

.tosco_contenedor { position: relative; margin-bottom: 2rem; max-width: 28rem; }
footer .tosco_contenedor { margin-top: 2rem; margin-bottom: 1rem; max-width: 100%; }
.tosco-input {
    border: 2px solid black;
    padding: .75rem 3.5rem;
    padding-right: 4rem;
    width: 100%;
    position: relative;
    z-index: 0;
    font-size: 16px;
    line-height: 1;
    font-family: Helvetica Bold;
    color: black;
}
button.tosco-button {
    position: absolute;
    right: 0;
    top: 0; background-color: white;
    width: 4rem;
    height: 100%; transition: .25s background-color;
    border: 2px solid black; }
button.tosco-button:hover { background-color: black; }
button.tosco-button:hover svg { stroke: white; }
.tosco_contenedor > span { position: absolute; left: .75rem; top: 0; bottom: 0; margin: auto; z-index: 2; }
@media (max-width: 799px){
    .tosco_contenedor { margin-bottom: 0; }
}

.menu_rrss [class*="svgs_"] svg {
    width: 2rem;
    height: 2rem;
}
.menu_rrss [class*="svgs_"][class*="youtube"] svg { width: 2.5rem; }

.footer_data-title {
    font-size: 1.125em;
    margin: 0 auto .75rem;
    max-width: 250px;
}
.footer_data-items {
    font-size: .875em;
  }
.footer_data-items li {
    position: relative;
    margin-bottom: .5rem;
}
.footer_data-items li u {
    position: relative;
    display: inline-block;
    padding-left: 1.5rem;
}
.footer_data-items span {
    position: absolute;
    left: 0;
    top: .125rem;
}
.footer_data-items [class*="svgs_"] svg {
    width: 1rem;
    height: 1rem;
}

@media (min-width: 50rem) {
    .footer_data-mobile { display: none; }
    .footer_data-desktop { display: block; }
    .footer_data-title { margin: 0 0 1rem; }
}
@media (max-width: 799px){
    article > .footer_data-title { font-size: 1.25em; }

    .footer_data-mobile { font-family: Helvetica Bold; }
    .footer_data-mobile p { line-height: 1.25; font-size: 1.125em; }
}
.footer_libro-link {
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .5rem;
    max-width: 100px;
    overflow: hidden;
}
.footer_libro-link img {
    width: 100%;
}

.menu_rrss {
    justify-content: flex-start;
}
.menu_rrss-span {
    display: none;
}
@media (min-width: 50rem) {
    footer .menu_rrss > li { margin-right: 1.5rem; }
    main .menu_rrss > li { margin-right: .5rem; }
}
@media (max-width: 799px){
    footer .menu_rrss {
        max-width: 18rem;
        margin: auto;
        justify-content: space-between;
    }
    .footer_libro-link { display: inline-block; }
}

.menu_footer { width: 100%; align-items: flex-start; }
.menu_footer > * { width: 100%; }
.menu_footer-title {
    display: block;
    font-size: 1.125em;
    position: relative;
    width: 100%;
    line-height: 1;
}
.menu_footer-content {
    margin-top: 1rem;
}
.menu_footer-content a, .menu_footer-content span {
    font-size: 1.125em;
  }
@media (max-width: 799px) {
    .menu_footer-title {
        border-bottom: 1px solid black;
        padding: .75rem 0;
    }
}
@media (min-width: 50rem){
    .menu_footer > * { width: 25%; }
    .menu_footer > *:last-child { width: 50%; }
    .menu_footer-title { pointer-events: none; }
    .menu_footer-title svg { display: none; }
    .menu_footer-content {
        overflow: visible!important;
        height: 100%!important;
        display: block!important;
    }
}
@media (max-width: 1199px) {
    .menu_footer-content {
        margin-top: .5rem;
    }
    .menu_footer-content a {
        font-size: 1.125em;
    }
}
@media (min-width: 75rem) {
    .menu_footer {
        line-height: 1.75;
    }
}

.utp_footer-pie { font-size: .85em; }
.footer_intercorp img { width: 12rem; }
@media (min-width: 64rem) {
    .utp_footer-pie > ul li { margin-right: 1rem; }
    .utp_footer-pie > *:last-child { order: -1; }
    .footer_copyright br { display: none; }
}
@media (max-width: 1023px) {
    .utp_footer-pie.block_content { display: block; text-align: center; }
    .utp_footer-pie > *:not(:first-child) { margin-top: 1.25rem; }
    .utp_footer-pie .menu_row { justify-content: space-around; }
    .utp_footer-pie > * { width: 100%; }

    .footer_copyright {
        line-height: 1.25;
        font-size: .75em;
        padding-bottom: 5rem;
        text-align: center;
    }
    a.footer_intercorp {
        width: 100%;
        margin: 1.5rem 0;
    }
    .footer_intercorp img {
        max-width: 20rem;
        margin: auto;
        width: 100%;
    }
}
@media (max-width: 799px) {
    .menu_footer-title {
        border-bottom: 1px solid black;
        padding: .75rem 0;
    }

    .utp_footer-pie {
        font-size: 1.125em;
        line-height: 2;
    }
    .utp_footer-pie > * { width: 100%; }
    .utp_footer .utp_footer-pie {
        border: 0;
        padding-top: 0;
    }
}
@media (max-width: 359px){
    .footer_intercorp img { max-width: 100%; }
}

.bloque_content,
.bloque_content > * { display: contents; }

.blue { color: #5695D7; }
.peru { color: #C86922; }

.slider .strokes,
.section .strokes { opacity: 0; transition: .2s opacity; }
.loaded .slider .strokes,
.uk-scrollspy-inview + .strokes,
.uk-scrollspy-inview + .strokes + .strokes { opacity: 1; }
.slider .strokes path,
.section .strokes path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 0;
}
.loaded .slider .strokes path,
.section .uk-scrollspy-inview + .strokes path,
.section .uk-scrollspy-inview + .strokes + .strokes path { animation: dash 2s linear; }
@keyframes dash {
    from {
      stroke-dashoffset: 3000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

@media (max-width: 799px) {
.slider .block_margins {
    padding-top: 2.75rem;
}
.slider .action {
    margin-top: 3rem;
    padding: 1rem 1.5rem;
}
}
