<section id="slider">
    <div class="block_content"> 
        <div uk-slider="center: true; autoplay: true; finite: false">
            <ul class="uk-slider-items"> 
                {% for key, item in items if key|first != '#' %}
				    <li>{{ item.content }}</li>
				{% endfor %}
            </ul>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div> 
    </div>
</section>