<div class="modal-footer" style="display: none">
    <div class="footer_modal-rrss menu_row">
        <p>Síguenos en nuestras redes sociales: {{ drupal_menu('rrss', 1 , 0, false) }}</p>
    </div>
    <div class="footer_modal-intercorp"> 
        <img data-src="{{ i_intercorp }}" uk-img /> 
    </div>
</div>

<button class="call_contacto" uk-toggle="target: #contacto_toggle" aria-expanded="false">
    <span class="svgs_chat">{{ svg_icon('utp_chat') }}</span> 
    <span class="svgs_close">{{ svg_icon('utp_close') }}</span> 
    <small>Contáctanos</small>
</button>
<ul id="contacto_toggle" class="contacto_toggle" hidden>
    <li><a href="{{ ruta_whatsapp }}" class="uk-icon-link" rel="nofollow noopener" target="_blank">
        <span class="svgs_whatsapp">{{ svg_icon('utp_whatsapp') }}</span> 
    </a></li>
    <li><a href="{{ ruta_messenger }}" rel="nofollow noopener" target="_blank">
        <span class="svgs_messenger">{{ svg_icon('utp_messenger') }}</span> 
    </a></li>
    <li><a href="{{ ruta_phone }}" class="uk-icon-link" rel="nofollow noopener" target="_blank">
        <span class="svgs_phone">{{ svg_icon('utp_phone') }}</span> 
    </a></li>
</ul>