<footer class="utp_footer">
    <section class="utp_footer-subscripcion block_content block_margins row centered">
        <article class="block_title">
            <h4>{{ boletin_title|raw }}</h4>
        </article>
        <article class="block_body">
            {{ boletin_body|raw }}
            {{ drupal_block('suscripcion') }}
        </article>
    </section>
    <section class="block_content block_margins utp_footer-data">
        <article class="footer_data-mobile">
            <h5 class="footer_data-title">Contacto</h5>
            {{ footer_contacto|raw }}
        </article>
        <article>
            <h5 class="footer_data-title">Síguenos en Redes Sociales</h5>
            {{ drupal_menu('rrss', 1 , 0, false) }}
        </article>
        <article class="footer_data-desktop">
            <h5 class="footer_data-title">Atención a Postulantes</h5>
            <ul class="footer_data-items">
                <li><u>
                    <span class="svgs_whatsapp">
                        {{ svg_icon('utp_whatsapp') }}
                    </span>
                    {{ footer_postulantes_whatsapp|raw }}</u>
                </li>
                <li><u>
                    <span class="svgs_mail_stroke">
                        {{ svg_icon('utp_mail') }}
                    </span>
                    {{ footer_postulantes_mail|raw }}</u>
                </li>
                <li><u>
                    <span class="svgs_location">
                        {{ svg_icon('utp_location') }}
                    </span>
                    {{ footer_postulantes_direccion|raw }}</u>
                </li>
            </ul>
        </article>
        <article class="footer_data-desktop">
            <h5 class="footer_data-title">Atención a Estudiantes</h5>
            <ul class="footer_data-items">
                <li><u>
                    <span class="svgs_whatsapp">
                        {{ svg_icon('utp_whatsapp') }}
                    </span>
                    {{ footer_estudiantes_whatsapp|raw }}</u>
                </li>
                <li><u>
                    <span class="svgs_mail_stroke">
                        {{ svg_icon('utp_mail') }}
                    </span>
                    {{ footer_estudiantes_mail|raw }}</u>
                </li>
                <li>
                    <u>
                        <span class="svgs_calendar">
                            {{ svg_icon('utp_calendar') }}
                        </span>
                        <strong>Horario de Atención</strong>
                    </u>
                    <br>
                    <u>{{ footer_estudiantes_horario|raw }}</u>
                </li>
            </ul>
        </article>
        <article>
            <h5 class="footer_data-title">Portal de Transparencia</h5>
            <a href="{{ u_reclamaciones }}" target="_blank" class="footer_libro-link">
                <img data-src="{{ i_reclamaciones }}" alt="Libro de Reclamaciones" width="98" height="54" uk-img />
            </a>
        </article>
    </section>
    <section class="block_content block_margins utp_footer-menu">
        {{ page.menu_footer }}
    </section>
    <section class="block_content block_margins_min utp_footer-pie">
        {{ drupal_menu('footer', 1 , 0, false) }}
        <article>
            <a class="footer_intercorp" href="{{ u_intercorp }}" target="_blank">
                <img data-src="{{ i_intercorp }}" alt="Intercorp" width="192" height="19.5" uk-img />
            </a>
        </article>
        <article class="footer_copyright">{{ copyright|raw }}</article>
    </section>
</footer>
