<header uk-sticky class="utp_header">
    <div class="block_content utp_header-main">
        <div class="utp_header-mobile">
            <h1 class="logo">
                <a href="{{ url('<front>')|render }}">
                    <img class="logo_img" loading="lazy" alt="UTP" height="46" width="201" data-src="{{ logo_utp }}" uk-img  />
                </a>
            </h1>
            <button class="hamburger main_button svgs_hamburger" uk-toggle="target: #mobile">
                {{ svg_icon('utp_hamburger') }}
            </button>
            <button class="search main_button svgs_search" uk-toggle="target: #search">
                {{ svg_icon('utp_search') }}
            </button>
        </div>
        <nav class="utp_header-desktop">
            {{ page.menu_desktop }} 
            <button class="search main_button svgs_search" uk-toggle="target: #search">
                {{ svg_icon('utp_search') }}
            </button>
            <a class="main_intercorp" href="{{ u_intercorp }}" target="_blank">
                <img data-src="{{ i_intercorp }}" alt="Intercorp" width="192" height="19.5" uk-img />
            </a>
        </nav>
    </div>
</header>