<div class="lw">
    <div class="load">
        <span><b>#EPGUTP</b>TE<b>CONECTA</b></span>
        <svg width="464" height="130" viewBox="0 0 464 130" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 65C22 -12.3333 37 -12.3333 52 65C66.6121 138.333 81.6121 138.333 97 65C112 -8.33334 127 -8.33334 142 65C157.409 142.333 172.409 142.333 187 65C202 -12.3333 217 -12.3333 232 65C246.159 133.667 261.159 133.667 277 65C292 -3.66666 307 -3.66666 322 65C337.073 134.333 352.073 134.333 367 65C382 -4.33334 397 -4.33334 412 65C427.649 140.333 442.649 140.333 457 65" stroke="#2BA6DF" stroke-width="13" stroke-linecap="round"/>
        </svg>
        <span><b>100%PASIÓN</b></span>
    </div>
    <div class="sload sleft"></div>
    <div class="sload sright"></div>
</div>

<style>
    html.loaded,
    html.x_administrator,
    html.x_editor {
        overflow-y: auto;
    } 
    .lw {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1000;
    }
    .load {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1001;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%)translatey(-50%);
        }
    .load svg { margin: 0 1rem; }
    .load svg path { 
        stroke-dasharray: 1200; 
        stroke-dashoffset: 0;
        transform: scale(1);
        transform-origin: left center;
        animation: dasharrays 1.35s linear;
    }
    @media (max-width: 799px) {
        .load { flex-flow: column wrap; }
        .load svg {
            width: calc(100% - 2rem);
            margin: 1.5rem 0;
            max-width: 20rem; 
        }
    }
    @keyframes dasharrays { 
        0% { stroke-dashoffset: 1170; }
        100% { stroke-dashoffset: 0; }
    }
    .lw .sload {
        position:fixed;
        top:0;
        background: white;
        width:51%;
        height:100%;
        z-index:1000;
        }

        .lw .sload.sleft {
        left:0
        }
        .lw .sload.sright {
        right:0;
        } 
        .loaded .lw .sload.sleft {
        transform: translateX(-100%);
        transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
        }
        .loaded .lw .sload.sright {
        transform: translateX(100%);
        transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
        }
        .loaded .load {
        opacity: 0;
        transition: all 0.3s ease-out;
        }
        .loaded .lw {
        visibility: hidden;
        transform:translateY(-100%);
        transition: all 0.3s 1s ease-out;
        }
</style>
<script async defer>
    window.addEventListener("DOMContentLoaded", function alertFunc() {

        setTimeout(()=>{
        const loader = document.querySelector("html");
        loader.className += " loaded"; 
        }, 2000)
    }); 
</script>