<div class="modal_menu-mobile" uk-modal style="display:none" id="mobile">
    <div class="uk-modal-dialog uk-modal-body">
        <div class="copy-header">
            <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
            </button> 
            <div class="logo">
                <a href="{{ url('<front>')|render }}"><img class="logo_img" data-src="{{ logo_utp }}" uk-img /></a>
            </div>
        </div> 
        <div class="modal-body">
            {{ page.mobile_area }}
            <a class="sec_intercorp" href="{{ u_intercorp }}" target="_blank">
                <img data-src="{{ im_intercorp }}" uk-img />
            </a>
        </div>
    </div>
</div>

<div class="modal_menu-desktop" uk-modal style="display:none" id="search">
    <div class="uk-modal-dialog uk-modal-body">
        <div class="modal-header">
            <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
            </button> 
        </div> 
        <div class="copy-header">
            <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close', 'svg_min') }}
            </button>
            <h4>Realiza una búsqueda</h4>
        </div> 
        <div class="modal-body">
            {{ drupal_block('views_exposed_filter_block:buscador-buscador') }}
        </div>
    </div>
</div>

<div class="modal_menu-desktop" uk-modal style="display:none" id="contacto">
    <div class="uk-modal-dialog uk-modal-body">
        <div class="modal-header">
            <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
            </button> 
        </div>
        <div class="copy-header">
            <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close', 'svg_min') }}
            </button>
            <h4>Solicita más información</h4>
        </div>  
        <div class="modal-body">
            {{ drupal_block('contacto') }}
        </div>
    </div>
</div>

{% if node.getType in ['article'] %}
<div class="modal_menu-desktop" uk-modal style="display:none" id="eventos">
    <div class="uk-modal-dialog uk-modal-body">
        <div class="modal-header">
            <button class="uk-modal-close main_button svgs_close" type="button">
                {{ svg_icon('utp_close') }}
            </button> 
        </div> 
        <div class="modal-body">
            {{ drupal_block('eventos') }}
        </div>
    </div>
</div>
{% endif %}