<div class="searching row full">
    <section class="filtrado">
        <form>
            <div id="filtrado_buscador" class="filtrado_buscador tosco_contenedor">
                <span class="svgs_search">{{ svg_icon('utp_search') }}</span>
                <input id="filtrado_buscador-input" class="tosco-input" type="text" value="" placeholder="Realiza una búsqueda">
            </div>
            <div id="filtrado_programa" class="filtrado_programa">
                <h5 class="filtrado_legend">Nivel del programa</h5>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-01" name="filtrado_programa-01">
                    <label for="filtrado_programa-01">Maestrías</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-02" name="filtrado_programa-02">
                    <label for="filtrado_programa-02">Programas de Especialización</label>
                </div>
            </div>
            <div class="filtrado_modalidad">
                <h5 class="filtrado_legend">Modalidad</h5>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_modalidad-01" name="filtrado_modalidad-01">
                    <label for="filtrado_modalidad-01">Presenciales</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_modalidad-02" name="filtrado_modalidad-02">
                    <label for="filtrado_modalidad-02">Online</label>
                </div>
                {#<div class="checkbox">
                    <input type="checkbox" id="filtrado_modalidad-03" name="filtrado_modalidad-03">
                    <label for="filtrado_modalidad-03">Clases en Vivo</label>
                </div>#}
            </div>
        </form>
    </section>
    <section class="encontrado">
        <ul uk-accordion="multiple: true">
            {% if drupal_view_result('ordenar_carreras', 'maestria_presencial', 'all') is not empty %}
            <li class="uk-open maestria presencial">
                <h5 class="uk-accordion-title">
                    {{ searching_mp_0 }} {{ searching_mp_1 }}
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'maestria_presencial') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'maestria_online', 'all') is not empty %}
            <li class="maestria online">
                <h5 class="uk-accordion-title">
                    {{ searching_mo_0 }} {{ searching_mo_1 }}
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">

                    {{ drupal_view('ordenar_carreras', 'maestria_online') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'programas_especializacion', 'all') is not empty %}
            <li class="programas presencial">
                <h5 class="uk-accordion-title">
                    {{ searching_pe_0 }} {{ searching_pe_1 }}
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'programas_especializacion') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'cursos_extension', 'all') is not empty %}
            <li class="programas presencial">
                <h5 class="uk-accordion-title">
                    {{ searching_ce_0 }} {{ searching_ce_1 }}
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">

                    {{ drupal_view('ordenar_carreras', 'cursos_extension') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'programas', 'all') is not empty %}
            <li class="programas presencial">
                <h5 class="uk-accordion-title">
                    {{ searching_p_0 }} {#{ searching_p_1 }#}
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">

                    {{ drupal_view('ordenar_carreras', 'programas') }}
                </ul>
            </li>
            {% endif %}
        </ul>
    </section>
</div>
{{ attach_library('searching/searching') }}
