<div id="the_blog" class="row full blog">
    <div class="base">
        {% if blog_img_0 %}
        <figure>
            <img data-src="{{ blog_img_0 }}" alt="{{ blog_title_0 }}" loading="lazy" uk-img width="528" height="224">
        </figure>
        {% endif %}
        <article>
            {% if blog_title_0 %}
            <h4>{{ blog_title_0 }}</h4>
            {% endif %}
            {% if blog_body_0 %}
            <div>{{ blog_body_0 }}</div>
            {% endif %}
            <div class="contents_cta">
                {% if blog_link_0 %}
                <a href="{{ blog_link_0 }}" target="_blank" class="action">
                    <span class="flecha svgs_arrow_bold">
                        <svg class="icon icon--utp_arrow_bold">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#utp_arrow_bold"></use>
                        </svg>
                    </span>
                    Leer más
                </a>
                {% endif %}
            </div>
        </article>
    </div>
    <div class="base">
        {% if blog_img_1 %}
        <figure>
            <img data-src="{{ blog_img_1 }}" alt="{{ blog_title_1 }}" loading="lazy" uk-img width="528" height="224">
        </figure>
        {% endif %}
        <article>
            {% if blog_title_1 %}
            <h4>{{ blog_title_1 }}</h4>
            {% endif %}
            <div class="contents_cta">
                {% if blog_link_1 %}
                <a href="{{ blog_link_1 }}" target="_blank" class="action">
                    <span class="flecha svgs_arrow_bold">
                        <svg class="icon icon--utp_arrow_bold">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#utp_arrow_bold"></use>
                        </svg>
                    </span>
                    Leer más
                </a>
                {% endif %}
            </div>
        </article>
    </div>
    <div class="base">
        {% if blog_img_2 %}
        <figure>
            <img data-src="{{ blog_img_2 }}" alt="{{ blog_title_2 }}" loading="lazy" uk-img width="528" height="224">
        </figure>
        {% endif %}
        <article>
            {% if blog_title_2 %}
            <h4>{{ blog_title_2 }}</h4>
            {% endif %}
            <div class="contents_cta">
                {% if blog_link_2 %}
                <a href="{{ blog_link_2 }}" target="_blank" class="action">
                    <span class="flecha svgs_arrow_bold">
                        <svg class="icon icon--utp_arrow_bold">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#utp_arrow_bold"></use>
                        </svg>
                    </span>
                    Leer más
                </a>
                {% endif %}
            </div>
        </article>
    </div>
</div>

{{ attach_library('acreditacion/acreditacion') }}
