<div class="content_form">
<form class="subscripcion_form">
    <div class="tosco_contenedor">
        <span class="svgs_mail_stroke">{{ svg_icon('utp_mail') }}</span>
        <input class="tosco-input" type="email" id="correo_suscripcion" value="" placeholder="Correo electrónico" required>
        <button class="tosco-button">
            <span class="svgs_chev_right_stroke">
                {{ svg_icon('utp_chev_right') }}
            </span>
        </button>
    </div>
</form>
<div id="gracias_subs" class="gracias">
{{ msg_thanks|raw }}
</div>
</div>

{{ attach_library('suscripcion/suscripcion') }}