{#
/**
 * @file
 * Default theme implementation for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 *
 * @ingroup themeable
 */
#}
<style>
.expuesto .block_margins {
  padding-bottom: 0;
}
.expuesto label {
  font-size: 16px;
  color: #666;
  margin-bottom: 1rem;
  display: block;
}
.expuesto-selects {
  position: relative;
}
.expuesto-selects select {
  background-color: transparent;
  -webkit-appearance: none;
  border: 1px solid black;
  padding: .75rem;
    padding-left: 0.75rem;
  padding-left: 3rem;
  font-family: Helvetica Bold;
  color: #666;
  font-size: 18px;
}
.expuesto-selects select option {
  font-family: sans-serif;
}
.expuesto-selects span {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  left: 1rem;
  z-index: -1;
}
.expuesto .form-submit {
  display: none;
}

.block_margins.x_mobile {
  border-top: 0;
}

@media (max-width: 799px) {
.expuesto-selects select { width: 100%; }
}

</style>

{% apply spaceless %}
  <div class="expuesto-selects">
  <select{{ attributes }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <span class="svgs_chev_down_stroke">
    {{ svg_icon('utp_chev_down') }}
  </span>
  </div>
{% endapply %}
