<div class="searching row full">
    <section class="filtrado">
        <form>
            <div id="filtrado_buscador" class="filtrado_buscador tosco_contenedor">
                <span class="svgs_search">{{ svg_icon('utp_search') }}</span>
                <input id="filtrado_buscador-input" class="tosco-input" type="text" value="" placeholder="Realiza una búsqueda">
            </div>
            <div id="filtrado_programa" class="filtrado_programa">
                <h5 class="filtrado_legend">Área del Curso</h5>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-01" name="filtrado_programa-01">
                    <label for="filtrado_programa-01">Administración</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-02" name="filtrado_programa-02">
                    <label for="filtrado_programa-02">Docencia</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-03" name="filtrado_programa-03">
                    <label for="filtrado_programa-03">Gestión Pública</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-04" name="filtrado_programa-04">
                    <label for="filtrado_programa-04">Marketing</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-05" name="filtrado_programa-05">
                    <label for="filtrado_programa-05">Operaciones</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-06" name="filtrado_programa-06">
                    <label for="filtrado_programa-06">Proyectos</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-07" name="filtrado_programa-07">
                    <label for="filtrado_programa-07">Construcción</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="filtrado_programa-08" name="filtrado_programa-08">
                    <label for="filtrado_programa-08">Habilidades Blandas</label>
                </div>
            </div>
        </form>
    </section>
    <section class="encontrado">
        <ul uk-accordion="multiple: true">
            {% if drupal_view_result('ordenar_carreras', 'area_administracion', 'all') is not empty %}
            <li class="uk-open administracion">
                <h5 class="uk-accordion-title">
                    Administración
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_administracion') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'area_docencia', 'all') is not empty %}
            <li class="docencia">
                <h5 class="uk-accordion-title">
                    Docencia
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_docencia') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'area_gestion', 'all') is not empty %}
            <li class="gestion">
                <h5 class="uk-accordion-title">
                    Gestión Pública
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_gestion') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'area_marketing', 'all') is not empty %}
            <li class="marketing">
                <h5 class="uk-accordion-title">
                    Marketing
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_marketing') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'area_operaciones', 'all') is not empty %}
            <li class="operacion">
                <h5 class="uk-accordion-title">
                    Operaciones
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_operaciones') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'area_proyectos', 'all') is not empty %}
            <li class="proyectos">
                <h5 class="uk-accordion-title">
                    Proyectos
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_proyectos') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'area_construccion', 'all') is not empty %}
            <li class="construccion">
                <h5 class="uk-accordion-title">
                    Construcción
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_construccion') }}
                </ul>
            </li>
            {% endif %}
            {% if drupal_view_result('ordenar_carreras', 'area_habilidades', 'all') is not empty %}
            <li class="habilidades">
                <h5 class="uk-accordion-title">
                    Habilidades Blandas
                    <span class="acordion_icon svgs_chev_down_stroke">
                        {{ svg_icon('utp_chev_down') }}
                    </span>
                </h5>
                <ul class="uk-accordion-content">
                    {{ drupal_view('ordenar_carreras', 'area_habilidades') }}
                </ul>
            </li>
            {% endif %}
        </ul>
    </section>
</div>

{{ attach_library('cursos/cursos') }}
