{%
  set class_carrusel = [
    'carrusel', 
  ]
%} 

{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  
    {{ header }}

{% endif %}

{{ exposed }}
{{ attachment_before }}

{% if rows %}
<div{{ attributes.addClass(options.classes).addClass(class_carrusel).setAttribute('uk-slider', 'autoplay: true; autoplay-interval: 6000; pause-on-hover: true') }}>
  <div>
    <ul class="uk-slider-items">
    {% for key, row in rows %}
      <li>{{ row }}</li>
    {% endfor %}
    </ul>
  </div>
  <a class="slider_arrow-left" href="#" uk-slider-item="previous">
    <span class="svgs_chev_left_stroke">{{ svg_icon('utp_chev_left') }}</span>
  </a>
  <a class="slider_arrow-right" href="#" uk-slider-item="next">
    <span class="svgs_chev_right_stroke">{{ svg_icon('utp_chev_right') }}</span>
  </a>
</div>
{% elseif empty %}
  {{ empty }}
{% endif %}

{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }}