{%
  set class_acordion = [
    'acordion', 
  ]
%} 

{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  <header>
    {{ header }}
  </header>
{% endif %}

{{ exposed }}
{{ attachment_before }}

{% if rows %}
<ul{{ attributes.addClass(options.classes).addClass(class_acordion).setAttribute('uk-accordion', '') }}>
{% for key, row in rows %}
  {% if key == 0 %}
    <li class="acordion_item uk-open">{{ row }}</li>
  {% else %}
    <li class="acordion_item">{{ row }}</li>
  {% endif %}
{% endfor %}
</ul>  
{% elseif empty %}
  {{ empty }}
{% endif %}

{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }}