{%
  set class_trio = [
    'trio', 'x_desktop'
  ]
%} 

{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  
    {{ header }}

{% endif %}

{{ exposed }}
{{ attachment_before }}

{% set trio = groupby|default(3) %}

{% if rows %}
<div class="block_content block_margins x_mobile" uk-scrollspy="cls: uk-animation-fade; target: .block_content; delay: 500;">
    <div class="row space x_mobile">
<section{{ attributes.addClass(options.classes).addClass(class_trio) }}>

{% for key, row in rows %}
  {% if loop.index % trio == 1  %}
    <div class="trio_items vista x_desktop section">
      <div class="block_content block_margins x_desktop">
        <div class="row space x_desktop">
  {% endif %}
          <div>{{ row }}</div>
  {% if loop.index % trio == 0 or loop.last %}
    </div></div></div>
  {% endif %}

{% endfor %}
</section>  
  </div></div>  
{% elseif empty %}
  {{ empty }}
{% endif %}

{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }}

{{ attach_library('utp/trio') }}