{%
  set class_facetados = [
    'facetados', 
  ]
%} 

{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  <header>
    {{ header }}
  </header>
{% endif %}

{{ exposed }}
{{ attachment_before }}

<section>
  <div class="contenedor">
    <div class="space">

{% if rows %}
<ul{{ attributes.addClass(options.classes).addClass(class_facetados) }}>
{% for key, row in rows %}
  {% if key == 0 %}
    <li class="facetados_item">{{ row }}</li>
  {% else %}
    <li class="facetados_item">{{ row }}</li>
  {% endif %}
{% endfor %}
</ul>  
{% elseif empty %}
  {{ empty }}
{% endif %}

  </div></div></section>

{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }}