{%
  set class_carrusel = [
    '', 
  ]
%} 

{{ title_prefix }}
{{ title }}
{{ title_suffix }}

{% if header %}
  
    {{ header }}

{% endif %}

{{ exposed }}
{{ attachment_before }}

{% if rows %}
    {% for key, row in rows %}
      {{ row }}
    {% endfor %}
{% elseif empty %}
  {{ empty }}
{% endif %}

{{ pager }}

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}

{{ feed_icons }}