{% if logged_in %}
<div{{ attributes.addClass('block_content') }}>
{{ title_prefix }}
{{ title_suffix }}
{% endif %}

{% block content %}

  {{ content }}

{% endblock %}

{% if logged_in %}
</div>
{% endif %}