{% if logged_in %}
<div{{ attributes }}>
{{ title_prefix }}
{{ title_suffix }}
{% endif %}

{% block content %}
<section>
    <div class="block_margins block_content">
        {{ content }}
    </div>
</section>
{% endblock %}

{% if logged_in %}
</div>
{% endif %}