{% if logged_in %}
<div{{ attributes }}>
{{ title_prefix }}
{{ title_suffix }}
{% endif %}

{% block content %}
<div class="block_content">  
  {{ content }}
</div>
{% endblock %}

{% if logged_in %}
</div>
{% endif %}