{% if logged_in %}
<div{{ attributes }}>
{{ title_prefix }}
{{ title_suffix }}
{% endif %}

{% block content %}
<section class="bg_black">
    <div class="block_content"> 
        <div class="block_margins row centered">
            {{ content }}
        </div>
    </div>
</section>
{% endblock %}

{% if logged_in %}
</div>
{% endif %}