{% if logged_in %}
<div{{ attributes }}>
{{ title_prefix }}
{{ title_suffix }}
{% endif %}

{% block content %}
<section class="expuesto">
    <div class="block_content block_margins"> 
        {{ content }}
    </div>
</section>
{% endblock %}

{% if logged_in %}
</div>
{% endif %}