{%
  set body_utpost = [
    is_front ? 'front'|clean_class,
    root_path ? 'p_' ~ root_path|clean_class,
    node_type ? 'n_' ~ node_type|clean_class,
    term_id ? 't_' ~ term_id|clean_class,
    role_drupal ? 'x_' ~ role_drupal|clean_class,
  ]
%}

<!DOCTYPE html>
<html{{ html_attributes.addClass(body_utpost) }}>
  <head>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <js-placeholder token="{{ placeholder_token|raw }}">
    {% if logged_in %}
      {{ attach_library('utp/logged') }}
    {% endif %}
  </head>
  <body{{ attributes.addClass(body_utpost).setAttribute('id', 'utp_postgrado') }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    {{ attach_library('utp/load') }}
    {{ attach_library('utp/utpost') }}
  </body>
</html>
